<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Igreja Presbiteriana Renovada de Itapira</title>


    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <!--[if IE 6]>
			<link rel="stylesheet" type="text/css" media="screen" href="/css/ie-hacks.css" />
			<script type="text/javascript" src="/js/DD_belatedPNG.js"></script>
			<script>
	      		/* EXAMPLE */
	      		DD_belatedPNG.fix('*');
	    	</script>
		<![endif]-->
    <!--[if IE 7]>
			<link rel="stylesheet" href="/css/ie7-hacks.css" type="text/css" media="screen" />
		<![endif]-->
    <!--[if IE 8]>
			<link rel="stylesheet" href="/css/ie8-hacks.css" type="text/css" media="screen" />
		<![endif]-->
    <!-- ENDS CSS -->

    <!-- prettyPhoto -->
    <link rel="stylesheet" href="/css/prettyPhoto.css" type="text/css" media="screen" />
    <!-- ENDS prettyPhoto -->

    <!-- JS -->
    <script type="text/javascript" src="/js/jquery_1.4.2.js"></script>
    <script type="text/javascript" src="/js/jqueryui.js"></script>
    <script type="text/javascript" src="/js/easing.js"></script>
    <script type="text/javascript" src="/js/jquery.cycle.all.js"></script>
    <script type="text/javascript" src="/js/tooltip/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/js/filterable.pack.js"></script>
    <script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/chirp.js"></script>
    <script type="text/javascript" src="/js/jquery.tabs/jquery.tabs.pack.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <!-- ENDS JS -->

    <!-- Cufon -->
    <script src="/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/js/fonts/bebas-neue_400.font.js" type="text/javascript"></script>
    <!-- /Cufon -->

    <!-- superfish -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/superfish-custom.css" />
    <script type="text/javascript" src="/js/superfish-1.4.8/js/hoverIntent.js"></script>
    <script type="text/javascript" src="/js/superfish-1.4.8/js/superfish.js"></script>
    <!-- ENDS superfish -->

    <!-- tabs -->
    <link rel="stylesheet" href="/css/jquery.tabs.css" type="text/css" media="print, projection, screen" />
    <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
    <!--[if lte IE 7]>
        <link rel="stylesheet" href="/css/jquery.tabs-ie.css" type="text/css" media="projection, screen">
        <![endif]-->
    <!-- ENDS tabs -->

</head>

<body>

    <!-- HEADER -->
    <div id="home-header">
        <div class="degree">
            <!-- wrapper -->
            <div class="wrapper">
                <a href="/"><img src="/img/logo2.png" alt="Logo" id="logo" /></a>

                <!-- pesquisa -->
                <div class="top-search">
                    <form method="get" id="searchform" action="http://www.google.com/search" target="_top">
                        <div>
                            <input type="text" placeholder="Pesquisar..." name="q" id="s" onfocus="defaultInput(this)"
                                onblur="clearInput(this)" />
                            <input type="submit" id="searchsubmit" value=" " />
                            <input type="hidden" name="sitesearch" value="http://igreja-uniesi.ddns.net"><br>
                        </div>
                    </form>
                </div>
                <!-- Fim pesquisa -->

                <!-- navegação -->
                <div id="nav-holder">
                    <ul id="nav" class="sf-menu">
                        <li class="current_page_item"><a href="/">Home</a></li>
                        <li><a href="historiaipr">História IPRB</a>
                            <ul>
                                <li><a href="ipritapira">IPR Itapira</a></li>
                            </ul>
                        </li>
                        <li><a href="">Grupos</a>
                            <ul>
                                <li><a href="criancas">Crianças</a></li>
                                <li><a href="danca">Dança</a></li>
                                <li><a href="jubilo">Júbilo</a></li>
                                <li><a href="mocidade">Mocidade</a></li>
                                <li><a href="varoes">Varões</a></li>
                            </ul>
                        </li>
                        <li><a href="">Galeria</a>
                            <ul>
                                <li><a href="galcrianca">Crianças</a></li>
                                <li><a href="galdanca">Dança</a></li>
                                <li><a href="galjcm">JCM</a></li>
                                <li><a href="galjubilo">Júbilo</a></li>
                                <li><a href="galmocidade">Mocidade</a></li>
                                <li><a href="galpastor">Pastor</a></li>
                                <li><a href="galeriateatro">Teatro</a></li>
                            </ul>
                        </li>
                        <li><a href="direcao">Direção</a>
                            <ul>
                                <li><a href="presbitero">Presbiteros</a></li>
                                <li><a href="diacono">Diaconos</a></li>
                            </ul>
                        </li>
                        <li><a href="jcm">JCM</a></li>
                        <li><a href="contato">Contatos</a></li>
                </div>
                <!-- Fim navegação -->
            </div>
        </div>
        <!-- ENDS HEADER-wrapper -->

    </div>
    <!-- ENDS HEADER -->

    <!-- MAIN -->
    <div id="main">
        {{{body}}}
    </div>
    <!-- ENDS MAIN -->

    <!-- FOOTER -->
    <div id="footer">
        <div class="degree">
            <!-- wrapper -->
            <div class="wrapper">
                <!-- social bar -->
                <div id="social-bar">
                    <ul class="follow-us">
                        <li><span>Siga-nos</span></li>
                        <li><a href="http://www.ipritapira.com.br/blog/" class="icon-32 blogger-32 social-tooltip"
                                title="Blog IPRITAPIRA">link</a></li>
                        <li><a href="https://www.facebook.com/renovadaitapira"
                                class="icon-32 facebook-32 social-tooltip" title="Facebook Renovada Itapira">link</a>
                        </li>
                    </ul>
                </div>
                <!-- ENDS social bar -->

                <!-- footer-cols -->
                <ul class="footer-cols">
                    <li class="col">
                        <p align="center">Endereço: Rua Ari Wilson Cremasco, 97 - Jardim Soares - Itapira (SP) - CEP
                            13972-186</p>
                        <div id="col">
                            <p align="center">Copyright Igreja Presbiteriana Renovada de Itapira<br /> Todos os direitos
                                reservados</p>
                        </div>
                    </li>
                    <p><a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="CSS válido!" /> </a>
                    </p>
                </ul>
                <!-- ENDS footer-cols -->
            </div>
            <!-- ENDS footer-wrapper -->
        </div>
    </div>
    <!-- ENDS FOOTER -->

    <!-- BOTTOM -->
    <div id="bottom">
        <!-- wrapper -->
        <div class="wrapper">
        </div>
        <!-- ENDS bottom-wrapper -->
    </div>
    <!-- ENDS BOTTOM -->

    <!-- start cufon -->
    <script type="text/javascript"> Cufon.now(); </script>
    <!-- ENDS start cufon -->

</body>

</html>