<!-- wrapper -->
<div class="wrapper">
    <!-- content -->
    <div class="content">
        <!-- title -->
        <div class="title-holder">
            <span class="title">Contato</span>
        </div>
        <!-- ENDS title -->

        <!-- page-content -->
        <div class="page-content">

            <!-- 2 cols -->
            <div class="one-half">

                <p>Para tirar alguma dúvida ou algum pedido nos envie uma mensagem.</p>
                <!-- form -->

                <form id="contactForm" action="css/form.php" method="post">
                    <fieldset>
                        <p>
                            <label for="nome"><b>NOME:*</b></label>
                            <input name="nome" type="text" id="nome" size="67" />
                        </p>
                        <p>
                            <label for="email"><b>EMAIL:*</b></label>
                            <input name="email" type="text" id="email" size="67" />
                        </p>
                        <p>
                            <label for="assunto"><b>ASSUNTO:*</b></label>
                            <input name="assunto" type="text" id="assunto" size="35" />
                        </p>
                        <p>
                            <label><b>TELEFONE:*</b></label>
                            <input name="telefone" type="text" id="telefone" size="20" />
                        </p>
                        <p>
                            <label><b>Mensagem:*</b></label>
                            <textarea name="mensagem" id="mensagem" cols="60" rows="6"></textarea>
                        </p>

                        <p><input type="submit" name="enviar" id="enviar" value="Enviar" /></p>
                    </fieldset>

                </form>

                <!-- ENDS form -->
                <p><b>* Campos Obrigatórios</b></p>
            </div>
            <div class="one-half last">
                <h4>Localização</h4>


                <p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="60" marginwidth="80"
                        src="https://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=+&amp;q=ari+wilson+cremasco,97+,itapira&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Ari+Wilson+Cremasco,+97,+Itapira+-+S%C3%A3o+Paulo,+13976-030&amp;t=m&amp;z=14&amp;ll=-22.428956,-46.822974&amp;output=embed"></iframe><br /><small><a
                            href="https://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=+&amp;q=ari+wilson+cremasco,97+,itapira&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Ari+Wilson+Cremasco,+97,+Itapira+-+S%C3%A3o+Paulo,+13976-030&amp;t=m&amp;z=14&amp;ll=-22.428956,-46.822974"
                            style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small></a></small></p>
                <p><b>Endereço: Rua Ari Wilson Cremasco, 97 - Jardim Soares -
                        CEP 13976-030 - ITAPIRA (SP)
                        <p align="center"> E-mail: contato@ipritapira.com.br</p></b>
            </div>
            <div class="clear "></div>
            <!-- ENDS 2 cols -->

        </div>
        <!-- ENDS page-content -->


    </div>
    <!-- ENDS content -->

</div>