<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">História</span>
      <span class="subtitle">Grupo de crianças "Jóias de Cristo"</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <br />
      <p align="justify">
        Desde o início da <b>Igreja Presbiteriana Renovada de Itapira</b> as
        crianças tinham um ensinamento apropriado para cada faixa etária de
        idade, em outras palavras a igreja sempre se preocupou com a "papinha
        espiritual".
      </p>

      <p align="justify">
        Porém desde a emancipação de nossa igraja no dia 21 de abril de 2013, o
        conselho difiniu quatro coordenadoras para organizar e trabalhar com os
        pequeninos, já que graças ao bom Deus o número de crianças tem aumentado
        e são elas:
        <b>Sheron Liliane de Alvarenga, Stephanie Amorim Alves Belli, Luciana
          Sassi do Couto e Naara de Oliveira Brandão.</b>
      </p>

      <p align="justify">
        Hoje as crianças continuam com as classinhas para receberem a papinha
        espiritual; a classe <b>Jardim de Deus</b> e a classe
        <b>Ovelhinhas de Jesus</b>, também estão trabalhando com louvores,
        teatros, poesias com todas as crianças de todas as idades e essse grupo
        é chamado de "Jóias de Cristo" é a junção das classinhas.
      </p>

      <p align="justify">
        Em poucos meses de existência do grupo <b>"Jóias de Cristo"</b> temos
        visto as mãos do Senhor Jesus, onde tivemos a
        <b>1º E.B.F (Escola Biblíca de Férias)</b>, desta nova coordenação e foi
        uma benção, ganhamos para Jesus uma criança e junto com ela sua família,
        dentre outras bençãos que Deus tem derramado sobre o grupo.
      </p>
      <p align="justify">
        Não deixem de orar pelas crianças, pois eles são o futuro da nossa
        Igreja.
      </p>
      <br />
      <!-- ENDS page-content -->
    </div>
    <!-- ENDS content -->
  </div>
</div>