<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">História</span>
      <span class="subtitle">Grupo de Coreográfia "Adore e Dance"</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <br />
      <p align="justify">
        No ano de 2008, a partir de um convite feito pelo, Presbítero
        Evangelista José Renato Brandão Belli, afim de darmps início a um grupo
        de coreografia, com intuito de louvar e adorar ao Senhor com danças.
      </p>

      <p align="justify">
        Com muita oração, foi aceito o desafio e se iniciou o ministério.
      </p>

      <p align="justify">
        O grupo ainda não tinha um nome,as lideres na época Naara de Oliveira
        Brandão e Kamila Brandão Porto, juntamente com sua conselheira Vicentina
        da Silva Brandão Porto, chegaram ao nome de <b>"Adore e Dance"</b>.
      </p>

      <p align="justify">
        A partir de então foram feitos convites a pessoas que tivessem interesse
        de participar do minitério, tanto meninas quanto meninos.
      </p>
      <p align="justify">
        Dentro ensaios e apresentações a marca que o grupo deixa passa é a
        alegria e a unção de Deus.
      </p>
      <p align="justify">
        Hoje o grupo possui mais de 16 integrantes, na liderança do grupo está
        Naara de Oliveira Brandão e Luciana Sassi do Couto e conta com
        aproximadamente 17 coreografias para honra e glória do Senhor Jesus.
      </p>
      <br />
      <!-- ENDS page-content -->
    </div>
    <!-- ENDS content -->
  </div>
</div>
