<div class="wrapper">
	<!-- content -->
	<div class="content">

		<!-- title -->
		<div class="title-holder">
			<span class="title">História</span>
			<span class="subtitle">Diáconos</span>
		</div>
		<!-- ENDS title -->

		<!-- page-content -->
		<div class="page-content">
			<br />
			<p>
				<h2 align="center">Art. 58. Do Daiconato</h2>
			</p>
			<br />

			<p align="justify">O <b>diaconato</b> é exercido por membro da Igreja Local, maior de 21 anos, em gozo de
				seus direitos civis, eleito pela Assembléia para desempenhar cargos na Igreja Local.</p><br />

			<h2 align="center">Art. 59. São requisitos exigidos para o diaconato, especialmente os seguintes:

			</h2>
			<br />
			<p align="justify"><b>I</b> - ser cheio do Espírito Santo;</p>
			<p align="justify"><b>II</b> - ter as características espirituais descritas em 1 Timóteo 3: 8-13;</p>
			<p align="justify"><b>III</b> - aceitar e cumprir plenamente as Normas da IPRB;</p>
			<p align="justify"><b>IV</b> - ser membro da IPRB há pelo menos 2 (dois) anos;</p>
			<p align="justify"><b>V</b> - ser dizimista;</p>
			<p align="justify"><b>VI</b> - ser aluno assíduo da Escola Bíblica Dominical, salvo por motivo justo.</p>
			<br />

			<h2 align="center">Art. 60. São atribuições dos que exercem o diaconato:</h2>
			<br />
			<p align="justify"><b>I</b> - cuidar da beneficência;</p>
			<p align="justify"><b>II</b> - zelar pela ordem durante o culto e atos religiosos no templo ou fora dele;
			</p>
			<p align="justify"><b>III</b> - levantar as ofertas e encaminhá-las à tesouraria da Igreja Local;</p>
			<p align="justify"><b>IV</b> - desempenhar as funções administrativas designadas pelo Conselho.</p><br />

			<h2 align="center">Art. 61. Os diáconos constituem:</h2>
			<br />
			<p align="justify">Os diáconos constituem, para o exercício de seu mandato, a Junta Diaconal, que terá a sua
				Diretoria composta de Presidente, Vice-Presidente, Secretário e Tesoureiro, eleita anualmente.</p><br />

			<h2 align="center">Art. 62. Omandato do diácono:</h2>
			<br />
			<p align="justify">O mandato do diácono limita-se ao período de 2(dois) anos, a partir da investidura e
				posse, podendo ser renovado.</p>
			<p align="justify">Parágrafo único. Findo o mandato, não sendo reeleito, fica o diácono em disponibilidade
				ativa, mesmo que se transfira para outra Igreja Local, devendo exercer as atividades que lhe forem
				designadas pela Junta Diaconal.</p><br />

			<h2 align="center">Art. 63. Aplicam-se aos diáconos:</h2>
			<br />
			<p align="justify">Aplicam-se aos diáconos as disposições do Art. 54 § 3º e do Art. 57.</p><br />

			<p align="center"><b>Fonte: Normas da IPRB</b></p>


			<!-- ENDS page-content -->
		</div>
		<!-- ENDS content -->
	</div>
</div>