<div class="wrapper">
    <!-- content -->
    <div class="content">

        <!-- title -->
        <div class="title-holder">
            <span class="title">História</span>
            <span class="subtitle">Presbitério Sul de Minas</span>
        </div>
        <!-- ENDS title -->
        <div class="img1">
            <img src="img/PRESUL_dir_2013.jpg" width="600" height="319" />
        </div>
        <!-- page-content -->
        <div class="page-content">
            <br />
            <p>
                <h2 align="center">Diretoria Presul e Itapira</h2>
            </p>

            <h4 align="center">Criação do Presbitério</h4>
            <br />
            <p align="justify">No dia 12 de fevereiro de 2011, a diretoria do PRESCON, Presbitério de Contagem,
                reuniu-se no templo da IPR de Poços de Caldas,MG, e, conforme aprovado pela Diretoria Administrativa em
                dezembro de 2010, procedeu ao seu desmembramento, criando-se o Presbitério Sul de Minas, o "PRESUL-MG".
            </p>

            <p align="justify">Esteve presente o pastor Geraldo Rosa de Oliveira, Primeiro Secretário da IPRB, designado
                pela Diretoria Administrava para acompanhar o processo de desmembramento. Presente também o presidente
                emérito do P-BHZ, pastor Jair Ventura. </p>

            <h2 align="center">Primeira diretoria</h2>
            <br />
            <p align="justify">A primeira diretoria do <a
                    href="http://www.iprb.org.br/historia/presbiterios/sul_de_minas/PRESUL_historia_01.htm">PRESUL-MG</a>
                ficou assim constituída:</p>
            <p align="justify"><b>Presidente: Pr. Agenor Pereira da Silva</b></p>
            <p align="justify"><b>Vice-presidente: Pr. Ailton da Silva Souza</b></p>
            <p align="justify"><b>Secr. Executivo: Pr. Héverton Luiz Bacha</b></p>
            <p align="justify"><b>I Secretário: Pr. Odário da Silva Brandão</b></p>
            <p align="justify"><b>II Secretário: Pr. Wanderley da Silva Lemes</b></p>
            <p align="justify"><b>I Tesoureiro: Pr. Paulo Claret da Silva</b></p>

            <h2 align="center">Pastores</h2>
            <br />
            <p align="center">Obreiros que compõem o PRESUL-MG</p>
            <p align="justify"><b>1. Pr. Agenor Pereira da Silva</b></p>
            <p align="justify"><b>2. Pr. Ailton da Silva Souza</b></p>
            <p align="justify"><b>3. Pr. Antônio Cipriano de Souza</b></p>
            <p align="justify"><b>4. Pr. Héverton Luiz Bachao</b></p>
            <p align="justify"><b>5. Pr. Odário da Silva Brandão Filho</b></p>
            <p align="justify"><b>6. Pr. Paulo Claret da Silva</b></p>
            <p align="justify"><b>7. Pr. Aux,. Robson Levi Alves</b></p>
            <p align="justify"><b>8. Pr. Wanderley da Silva Lemes</b></p>

            <h2 align="center">Igrejas</h2>
            <br />
            <p align="center">Com suas congregações</p>
            <p align="justify"><b>IPR de Borda da Mata (Campo Missionário)</b></p>
            <p align="justify"><b>IPR de Itapira</b></p>
            <p align="justify"><b>IPR de Jesuânia</b></p>
            <p align="justify"><b>IPR de Lambari</b></p>
            <p align="justify"><b>IPR de Passos</b></p>
            <p align="justify"><b>IPR de Poços de Caldas</b></p>

            <br />
            <p align="center"><a
                    href="http://www.iprb.org.br/historia/presbiterios/sul_de_minas/PRESUL_historia_01.htm">Fonte:
                    http://www.iprb.org.br/historia/presbiterios/sul_de_minas/PRESUL_historia_01.htm"</a></p>


            <!-- ENDS page-content -->
        </div>
        <!-- ENDS content -->
    </div>
</div>