<div class="wrapper">
	<!-- content -->
	<div class="content">
		<!-- title -->
		<div class="title-holder">
			<span class="title">GALERIA</span>
			<span class="subtitle">Crianças</span>
		</div>
		<!-- ENDS title -->

		<!-- page-content -->
		<div class="page-content">

			<!-- Thumbnails -->
			<ul id="portfolio-list" class="gallery">
				<li class="filter-autumn">
					<a href="img/dummies/album crianca/630x398/44586.jpg" title="" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/44586.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-autumn">
					<a href="img/dummies/album crianca/630x398/59136.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/59136.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album crianca/630x398/68282.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/68282.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album crianca/630x398/68576.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/68576.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album crianca/630x398/75830.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/75830.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album crianca/630x398/164972.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/164972.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album crianca/630x398/556090_.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/556090_.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album crianca/630x398/558948.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/558948.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album crianca/630x398/DSC03183.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/DSC03183.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album crianca/630x398/DSC03161.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/DSC03161.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album crianca/630x398/cri.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/cri.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album crianca/630x398/DSC03163.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca//220x160/DSC03163.jpg" /></a>
					<em></em>
				</li>
			</ul>
			<!-- ENDS Thumbnails -->

			<!-- Pagination -->
			<div class="holder">
				<ul class='gallery-pager'>
					<li><a href="galcrianca.html">prev</a></li>
					<li class="active"><a href="galcrianca.html">1</a></li>
					<li><a href="galcrianca1.html">2</a></li>
					<li class="last-child"><a href="galcrianca1.html">next</a></li>
				</ul>
			</div>
			<!-- ENDS Pagination -->

		</div>
		<!-- ENDS page-content -->

	</div>
	<!-- ENDS content -->
</div>