<!-- wrapper -->
<div class="wrapper">
	<!-- content -->
	<div class="content">
		<!-- title -->
		<div class="title-holder">
			<span class="title">GALERIA</span>
			<span class="subtitle">Crianças</span>
		</div>
		<!-- ENDS title -->

		<!-- page-content -->
		<div class="page-content">


			<!-- filter -->
			<ul id="portfolio-filter">
				<li>FILTER </li>
				<li><a href="#all" class="link-button"><span>ALL</span></a></li>
				<li><a href="#filter-autumn" class="link-button"><span>AUTUMN</span></a></li>
				<li><a href="#filter-winter" class="link-button"><span>WINTER</span></a></li>
				<li><a href="#filter-city" class="link-button"><span>CITY</span></a></li>
			</ul>
			<!-- filter -->



			<!-- Thumbnails -->
			<ul id="portfolio-list" class="gallery">
				<li class="filter-autumn">
					<a href="img/dummies/album crianca/630x398/936477.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/936477.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-autumn">
					<a href="img/dummies/album crianca/630x398/DSC03164.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/DSC03164.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album crianca/630x398/DSC03180.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/DSC03180.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album crianca/630x398/DSC03200.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album crianca/220x160/DSC03200.jpg" /></a>
					<em></em>
				</li>
			</ul>
			<!-- ENDS Thumbnails -->

			<!-- Pagination -->
			<div class="holder">
				<ul class='gallery-pager'>
					<li><a href="galcrianca.html">prev</a></li>
					<li class="active"><a href="galcrianca.html">1</a></li>
					<li><a href="galcrianca1.html">2</a></li>
					<li class="last-child"><a href="galcrianca1.html">next</a></li>
				</ul>
			</div>
			<!-- ENDS Pagination -->

		</div>
		<!-- ENDS page-content -->

	</div>
	<!-- ENDS content -->

</div>

</div>
<!-- ENDS main-wrapper -->