<!-- wrapper -->
<div class="wrapper">
	<!-- content -->
	<div class="content">
		<!-- title -->
		<div class="title-holder">
			<span class="title">GALERIA</span>
			<span class="subtitle">Adore e Dance</span>
		</div>
		<!-- ENDS title -->

		<!-- page-content -->
		<div class="page-content">

			<!-- Thumbnails -->
			<ul id="portfolio-list" class="gallery">
				<li class="filter-autumn">
					<a href="img/dummies/album danca/630x398/100_1533.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/100_1533.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-autumn">
					<a href="img/dummies/album danca/630x398/100_1547.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/100_1547.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album danca/630x398/12412.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/12412.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album danca/630x398/400573.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/400573.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album danca/630x398/547477.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/547477.jpg" /></a>
					<em>The Road</em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album danca/630x398/942133.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/942133.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/Consagração.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/Consagração.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/dança.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/dança.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/Grupo de Coreografia.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/Grupo de Coreografia.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/Niver IPRI 2008 (4).jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/Niver IPRI 2008 (4).jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/Niver IPRI 2008 (65).jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/Niver IPRI 2008 (65).jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/Niver IPRI 2008 (71).jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/Niver IPRI 2008 (71).jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/Niver IPRI 2008 (174).jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/Niver IPRI 2008 (174).jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/S5007362.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/S5007362.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/S5008281.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/S5008281.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/S5008283.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/S5008283.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album danca/630x398/S5009162.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album danca/220x160/S5009162.jpg" /></a>
					<em></em>
				</li>
			</ul>
			<!-- ENDS Thumbnails -->

		</div>
		<!-- ENDS page-content -->

	</div>
	<!-- ENDS content -->

</div>
<!-- ENDS main-wrapper -->