<!-- wrapper -->
<div class="wrapper">
	<!-- content -->
	<div class="content">
		<!-- title -->
		<div class="title-holder">
			<span class="title">GALERIA</span>
			<span class="subtitle">Pastor</span>
		</div>
		<!-- ENDS title -->

		<!-- page-content -->
		<div class="page-content">

			<!-- Thumbnails -->
			<ul id="portfolio-list" class="gallery">
				<li class="filter-winter">
					<a href="img/dummies/album jcm/630x398/1.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/1.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album jcm/630x398/2.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/2.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album jcm/630x398/3.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/3.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-winter">
					<a href="img/dummies/album jcm/630x398/4.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/4.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album jcm/630x398/5.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/5.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album jcm/630x398/6.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/6.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album jcm/630x398/7.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/7.jpg" /></a>
					<em></em>
				</li>
				<li class="filter-city">
					<a href="img/dummies/album jcm/630x398/8.jpg" rel="prettyPhoto[gallery]">
						<span></span>
						<img src="img/dummies/album jcm/220x160/8.jpg" /></a>
					<em></em>
				</li>
			</ul>
			<!-- ENDS Thumbnails -->

		</div>
		<!-- ENDS page-content -->

	</div>
	<!-- ENDS content -->

</div>
<!-- ENDS main-wrapper -->