<!-- wrapper -->
<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">GALERIA</span>
      <span class="subtitle">Júbilo</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <!-- Thumbnails -->
      <ul id="portfolio-list" class="gallery">
        <li class="filter-autumn">
          <a
            href="img/dummies/album jubilo/630x398/1005779.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/1005779.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-autumn">
          <a
            href="img/dummies/album jubilo/630x398/1095114.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/1095114.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album jubilo/630x398/DSC08597.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/DSC08597.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album jubilo/630x398/DSC08622.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/DSC08622.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album jubilo/630x398/jubilo2012.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/jubilo2012.jpg"
          /></a>
          <em>The Road</em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album jubilo/630x398/Niver IPRI 2008.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/Niver IPRI 2008.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album jubilo/630x398/S5008214.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/S5008214.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album jubilo/630x398/S5008226.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/S5008226.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album jubilo/630x398/S5008228.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/S5008228.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album jubilo/630x398/S5008270.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/S5008270.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album jubilo/630x398/S5009382.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/S5009382.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album jubilo/630x398/S5009387.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/S5009387.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album jubilo/630x398/S5009393.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album jubilo/220x160/S5009393.jpg"
          /></a>
          <em></em>
        </li>
      </ul>
      <!-- ENDS Thumbnails -->
    </div>
    <!-- ENDS page-content -->
  </div>
  <!-- ENDS content -->
</div>
<!-- ENDS main-wrapper -->
