<!-- wrapper -->
<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">GALERIA</span>
      <span class="subtitle">Mocidade</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <!-- Thumbnails -->
      <ul id="portfolio-list" class="gallery">
        <li class="filter-autumn">
          <a
            href="img/dummies/album mocidade/630x398/Culto da ressureição.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/album mocidade/220x160/Culto da ressureição.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-autumn">
          <a
            href="img/dummies/album mocidade/630x398/Dia do Pastor (18).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/Dia do Pastor (18).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/niver da mocidade 2007 024.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/album mocidade/220x160/niver da mocidade 2007 024.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/P1160012.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/P1160012.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/P1160023.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/P1160023.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/P4250444.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/P4250444.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/P4250447.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/P4250447.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/S5009245.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/S5009245.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/SAM_2982.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/SAM_2982.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/todos.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/todos.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/1421270.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/1421270.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/1511041.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/1511041.jpg"
          /></a>
          <em></em>
        </li>
      </ul>
      <!-- ENDS Thumbnails -->

      <!-- Pagination -->
      <div class="holder">
        <ul class="gallery-pager">
          <li><a href="galmocidade.html">prev</a></li>
          <li class="active"><a href="galmocidade.html">1</a></li>
          <li><a href="galmocidade1.html">2</a></li>
          <li class="last-child"><a href="galmocidade1.html">next</a></li>
        </ul>
      </div>
      <!-- ENDS Pagination -->
    </div>
    <!-- ENDS page-content -->
  </div>
  <!-- ENDS content -->
</div>
<!-- ENDS main-wrapper -->
