<!-- wrapper -->
<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">GALERIA</span>
      <span class="subtitle">Mocidade.</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <!-- Thumbnails -->
      <ul id="portfolio-list" class="gallery">
        <li class="filter-autumn">
          <a
            href="img/dummies/album mocidade/630x398/100_2141.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/100_2141.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-autumn">
          <a
            href="img/dummies/album mocidade/630x398/68931.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/68931.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/420582.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/420582.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/427367.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/427367.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/a1 (2).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/a1 (2).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album mocidade/630x398/Acampamento 2008.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/Acampamento 2008.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/acampamento 2009.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/acampamento 2009.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/Acampamento 2010.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/Acampamento 2010.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/acampis2.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/acampis2.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/acampis16.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/acampis16.jpg "
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/acampis2013inverno.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/album mocidade/220x160/acampis2013inverno.jpg "
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/acamps 1.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/acamps 1.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/220x160/Dia do Pastor (18).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album mocidade/220x160/Dia do Pastor (18).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/Aniversario Mocidade (3).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/album mocidade/220x160/Aniversario Mocidade (3).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/Aniversario Mocidade (20).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/album mocidade/220x160/Aniversario Mocidade (20).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album mocidade/630x398/Aniversario Mocidade (94).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/album mocidade/220x160/Aniversario Mocidade (94).jpg"
          /></a>
          <em></em>
        </li>
      </ul>
      <!-- ENDS Thumbnails -->

      <!-- Pagination -->
      <div class="holder">
        <ul class="gallery-pager">
          <li><a href="galmocidade.html">prev</a></li>
          <li class="active"><a href="galmocidade.html">1</a></li>
          <li><a href="galmocidade1.html">2</a></li>
          <li class="last-child"><a href="galmocidade1.html">next</a></li>
        </ul>
      </div>
      <!-- ENDS Pagination -->
    </div>
    <!-- ENDS page-content -->
  </div>
  <!-- ENDS content -->
</div>
<!-- ENDS main-wrapper -->
