<!-- wrapper -->
<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">GALERIA</span>
      <span class="subtitle">Pastor</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <!-- Thumbnails -->
      <ul id="portfolio-list" class="gallery">
        <li class="filter-autumn">
          <a
            href="img/dummies/algum pastor/630x398/Consagração do Pai (59).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/algum pastor/220x160/Consagração do Pai (59).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-autumn">
          <a
            href="img/dummies/algum pastor/630x398/Consagração do Pai (65).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/algum pastor/220x160/Consagração do Pai (65).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/algum pastor/630x398/Consagração do Pastor Odário.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img
              src="img/dummies/algum pastor/220x160/Consagração do Pastor Odário.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/algum pastor/630x398/S5007589.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5007589.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/algum pastor/630x398/S5007982.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5007982.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/algum pastor/630x398/S5009398.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5009398.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/algum pastor/630x398/S5009403.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5009403.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/algum pastor/630x398/S5009408.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5009408.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/algum pastor/630x398/S5009419.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5009419.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/algum pastor/630x398/S5009420.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5009420.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/algum pastor/630x398/S5009421.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/S5009421.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/algum pastor/630x398/SAM_0906.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/SAM_0906.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/algum pastor/630x398/SAM_0911.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/algum pastor/220x160/SAM_0911.jpg"
          /></a>
          <em></em>
        </li>
      </ul>
      <!-- ENDS Thumbnails -->
    </div>
    <!-- ENDS page-content -->
  </div>
  <!-- ENDS content -->
</div>
<!-- ENDS main-wrapper -->
