<!-- wrapper -->
<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">GALERIA</span>
      <span class="subtitle">Teatro</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <!-- Thumbnails -->
      <ul id="portfolio-list" class="gallery">
        <li class="filter-autumn">
          <a
            href="img/dummies/album teatro/630x398/100_1617.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/100_1617.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-autumn">
          <a
            href="img/dummies/album teatro/630x398/5468.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/5468.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album teatro/630x398/7169.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/7169.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album teatro/630x398/483496.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/483496.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album teatro/630x398/a1 (4).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/a1 (4).jpg"
          /></a>
          <em>The Road</em>
        </li>
        <li class="filter-winter">
          <a
            href="img/dummies/album teatro/630x398/a1 (5).jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/a1 (5).jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album teatro/630x398/a1.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/a1.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album teatro/630x398/DSC08598.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/DSC08598.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album teatro/630x398/S5009253.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/S5009253.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album teatro/630x398/S5009347.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/S5009347.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album teatro/630x398/te.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/te.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album teatro/630x398/te1.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/te1.jpg"
          /></a>
          <em></em>
        </li>
        <li class="filter-city">
          <a
            href="img/dummies/album teatro/630x398/teatro.jpg"
            rel="prettyPhoto[gallery]"
          >
            <span></span>
            <img src="img/dummies/album teatro/220x160/teatro.jpg"
          /></a>
          <em></em>
        </li>
      </ul>
      <!-- ENDS Thumbnails -->
    </div>
    <!-- ENDS page-content -->
  </div>
  <!-- ENDS content -->
</div>
<!-- ENDS main-wrapper -->
