<!-- wrapper -->
<div class="wrapper">
    <!-- content -->
    <div class="content">

        <!-- title -->
        <div class="title-holder">
            <span class="title">História</span>
            <span class="subtitle">Igreja Presbiteriana Renovada do Brasil</span>
        </div>
        <!-- ENDS title -->
        <div class="img1">
            <img src="img/Rev. Ashbel.fw.png" width="700" height="300" />
        </div>
        <!-- page-content -->
        <div class="page-content">
            <br />
            <p align="justify">A <b>Igreja Presbiteriana Renovada do Brasil</b> - IPRB é resultado da influência
                carismática que atingiu o protestantismo no Brasil nas décadas de 60 e 70 do século XX, alcançando
                várias denominações históricas. Na <a
                    href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana_do_Brasil">Igreja Presbiteriana do
                    Brasil</a>, tal influência provocou dissidências que levaram, em 1968, à organização da Igreja
                Cristã Presbiteriana, a ICP. Outro grupo, que se desligara da Igreja Presbiteriana Independente do
                Brasil, a IPI, organizou, em julho de 1972 a Igreja Presbiteriana Independente Renovada -a IPIR. Logo os
                líderes dessas duas novas Igrejas perceberam que ambas tinham muito em comum e envidaram esforços para
                uma união, o que aconteceu em 8 de janeiro de 1975, em Maringá, PR, depois de dois anos de
                entendimentos. Surgia assim a IPRB, Igreja Presbiteriana Renovada do Brasil, hoje a segunda maior
                denominação presbiteriana do Brasil com mais de 120 mil membros.[carece de fontes] Professa a fé
                evangélica <a href="http://pt.wikipedia.org/wiki/Pentecostal">pentecostal</a>. Como orientação
                teológica, contém princípios do <a href="http://pt.wikipedia.org/wiki/Arminianismo">Arminianismo</a> em
                sua confissão de fé oficial, embora a maioria de seus teólogos sejam confessamente <a
                    href="http://pt.wikipedia.org/wiki/Arminianismo">Calvinistas</a>.</p>

            <h2 align="center">Presbiterianismo no Brasil</h2>
            <br />
            <p align="justify">O surgimento do presbiterianismo no Brasil resultou do pioneirismo e desprendimento do
                Rev. <a href="http://pt.wikipedia.org/wiki/Ashbel_Green_Simonton">Ashbel Green Simonton</a> (1833-1867).
                Nascido em West Hanover, na Pensilvânia, Simonton estudou no colégio de Nova Jersey e inicialmente
                pensou em ser professor ou advogado. Alcançado por um avivamento em 1855, fez sua profissão de fé e
                pouco depois ingressou no Seminário de Princeton. Dois meses após a sua ordenação, embarcou para o
                Brasil, chegando ao Rio de Janeiro em 12 de agosto de 1859, aos 26 anos de idade. Em abril de 1860,
                Simonton dirigiu o seu primeiro culto em português; em janeiro de 1862, recebeu os primeiros membros,
                sendo fundada a <a href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana">Igreja Presbiteriana</a> do
                Rio de Janeiro. Faleceu em 1867, aos 34 anos.</p>
            <p align="justify">O trabalho missionário presbiteriano se desenvolveu e em 1888 foi formado o primeiro
                Sínodo, deixando a <a href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana_do_Brasil">Igreja
                    Presbiteriana do Brasil</a> autônoma em relação à igreja-mãe nos Estados Unidos. Em 1903, por causa
                da questão maçônica e de problemas com as juntas missionárias americanas que interferiam no trabalho
                nacional, um grupo de sete pastores e 15 presbíteros se desligou da Igreja Presbiteriana, formando a <a
                    href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana_Independente_do_Brasil">Igreja Presbiteriana
                    Independente do Brasil</a>.</p>
            <p align="justify">Apesar das divergências, as duas igrejas conservaram em sua essência a teologia e a forma
                de governo presbiteriano que se originaram com <a
                    href="http://pt.wikipedia.org/wiki/Jo%C3%A3o_Calvino">João Calvino</a>.</p>

            <h2 align="center">O Presbiterianismo e o Avivamento Espiritual</h2>
            <br />
            <p align="justify">Por volta de 1962 teve início na
                <a href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana_Independente_do_Brasil">Igreja Presbiteriana
                    do Brasil</a> de Goiânia e congregações um movimento de renovação espiritual, levando-as a buscar o
                batismo com o Espírito Santo e a renovação espiritual. Quatro núcleos da Igreja Presbiteriana do Brasil
                foram alcançados pelo avivamento espiritual: eram os presbitérios de Cianorte, Brasil Central, São Paulo
                e Vitória. Esses grupos se tornaram expressivos, porém não tinham espaço na <a
                    href="http://pt.wikipedia.org/wiki/IPB">IPB</a>. Alguns pastores e presbíteros foram disciplinados
                por aceitarem práticas pentecostais e esses presbitérios acabaram por se desligar da igreja, formando
                presbitérios isolados. Em 1968, após uma reunião em Cianorte, PR, sob a liderança do Rev. Jonathan
                Ferreira dos Santos, foi criada a Igreja Cristã Presbiteriana – ICP, reunindo majoritariamente os
                presbitérios de Cianorte e Brasil Central.</p>
            <p align="justify">Na
                <a href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana_Independente_do_Brasil">Igreja Presbiteriana
                    Independente do Brasil</a>, o avivamento vinha desde os anos 1950 e possuía um grande entusiasta, o
                Rev. Azor Etz Rodrigues, pastor da igreja de Assis, SP. Deve-se dizer, que, na verdade, as influências
                avivacionistas nasceram com a vinda do Rev. G. W. Ridout para o Brasil em 1933. Depois na década de 40,
                missionários norte-americanos pregaram o avivamento espiritual na IPI do Cambuci, em São Paulo. Assim, a
                semente do avivamento espiritual estava lançada.</p>
            <p align="justify">Os anos de 1960 também foram de intenso avivamento nas igrejas dos Estados do Paraná,
                Santa Catarina e São Paulo. Na década de 60, movimento de renovação espiritual foi propagado no Oeste do
                Paraná pelo pastor Jobel Cândido Venceslau.</p>
            <p align="justify">Portanto, até 1967, os líderes do movimento eram o Rev. Jobel Cândido Venceslau, pastor
                em Campo Mourão, Paraná; o Rev. Abel Amaral Camargo, pastor titular da IPI de Assis. Em junho de 1968,
                em uma reunião de pastores e presbíteros promovida pelo <a
                    href="http://pt.wikipedia.org/wiki/S%C3%ADnodo">Sínodo</a> Meridional da IPI, em Londrina, e com a
                presença do Rev Antonio Elias, da IPB, muitos pastores tiveram uma experiência carismática, entre eles o
                Rev. Ner de Moura, pastor da IPI de Ponta Grossa, e o Rev. Palmiro Francisco de Andrade, pastor da IPI
                de Joinville e presidente do Sínodo. Em pouco tempo o movimento de renovação carismática havia ganho um
                grande espaço na IPIB, alcançando diversas igrejas, inclusive na região Nordeste do Brasil. Em 1968, o
                Nordeste brasileiro recebeu forte impacto do movimento de renovação espiritual,destacando-se a cidade de
                Natal. Houve uma divisão no presbitério e o grupo que se retirou da IPI fundou a Igreja Presbiteriana
                Nova Jerusalém.</p>

            <h2 align="center">O avivamento no Oeste do Paraná</h2>
            <br />
            <p align="justify">No Oeste do Paraná o avivamento ganhou espaço na Igreja Presbiteriana Independente. O
                pastor Joel Cândido Venceslau foi um dos grandes líderes do movimento na região. Nascido em 1940, em <a
                    href="http://pt.wikipedia.org/wiki/Santo_Ant%C3%B4nio_da_Platina">Santo Antônio da Platina</a>, PR,
                era filho de crentes exemplares. Diz ele sobre seus pais: "“Meus pais eram profundamente cristãos de um
                testemunho a toda prova, eram exemplos de crentes”. Em fins de 1960 e início de 1961, por convicção
                interior, Jobel sentiu-se vocacionado. Em 1963 ele foi para o Instituto Bíblico João Calvino, em
                Arapongas, PR, e conclui o curso em 1965. No instituto bíblico havia um grupo de oração que intercedia
                por um avivamento espiritual no Brasil. Compunham esse grupo, com assiduidade, além do Jobel C.
                Wenceslau: Joel do Prado, Celsino Marques de Azevedo.</p>
            <p align="justify">Jobel iniciou seu ministério pastoral em 1966, na cidade de Campo Mourão, PR. Em Campo
                Mourão, Jobel deu início ao programa radiofônico “Brado de Fé”. Falando sobre seu ministério, iniciando
                em 66 na IPI, Jobel diz o seguinte: "Comecei a visitar as igrejas e congregações pregando, cantando
                batendo palmas, orando pelos enfermos, fazendo apelos, mais inflamado que nunca. Falava da necessidade
                de um Avivamento nas igrejas, pregava contra o pecado, falava abertamente sobre o batismo com o Espírito
                Santo.</p>
            <p align="justify">Em 07 de maio de 1967, Jobel foi ordenado ao ministério pastoral. Apesar de o Presbitério
                saber que ele possuía fortes tendências e práticas pentecostais, recebeu-o. Nesse ano as igrejas no
                oeste paranaense começaram a se despertar espiritualmente.</p>
            <p align="justify">Pastor Jobel relata que, em julho de 67, em uma campanha chamada “Jesus é o Senhor”, em
                Campina da Lagoa, houve o primeiro “batismo com o Espírito Santo”. Logo, Campina da Lagoa e congregações
                estavam muito despertadas.</p>
            <p align="justify">Em 1968 um grupo de membros da IPI de Campina da Lagoa levantou-se contra o Pr. Jobel,
                acusando-o de pentecostal. Este grupo elaborou um documento e remeteu-o à diretoria do Presbitério, o
                qual nomeou uma comissão para verificar in loco os problemas. Essa comissão visitou as igrejas, indo,
                finalmente a Campina da lagoa. Acusaram grandemente todos que estavam envolvidos com a obra de renovação
                espiritual. Acharam que o Pr. Jobel voltaria atrás sob as ameaças do Presbitério. Ele diz que não
                arredou uma vírgula daquilo que já havia caminhado.</p>
            <p align="justify">Jobel Cândido Venceslau conta em seu artigo “O Avivamento no Oeste Paranaense”, que
                Terezinha Duarte Fernandes e Iracema Alves Rodrigues, provenientes do Oeste do Paraná exerceram uma
                forte influência em várias igrejas (Campina da Lagoa, Caxias do Sul, Curitiba, Aparecida, Assis, Itambé,
                Cascavel, etc...) em prol do movimento de renovação espiritual.</p>
            <p align="justify">Assim o Oeste do Paraná foi despertado. As igrejas cresceram bastante. O Pr. Jobel relata
                que, em 1968, ele recebeu 96 pessoas como membros no seu campo de trabalho. As campanhas com o Pr. Enéas
                Tognini, Antonio Elias, Daniel Bonfim, Artur Montanha, Satiro Loureiro, Jonathan F. dos Santos e outros
                colaboraram com a renovação espiritual no Norte e Oeste Paranaense.</p>
            <p align="justify">Outros nomes contribuíram para a expansão do movimento carismático na região do Oeste do
                Paraná: Pr. Matias Quintela de Souza, em Arapongas; Pr. João Batista Ribeiro Neto em Londrina; Pr. José
                Ferreira Filho, em Curitiba; Pr. Adonias Ribeiro de Castro em São José da Pitanga; Presbíteros Osvaldo
                Vieira e Jamil Josepetti, em Maringá, também pastor José Zaponi, em Maringá, Presb. José Fernandes
                Pedrosa, em Paranavaí; Pr. Palmiro Francisco de Andrade, em Arapongas; Pr. Nilton Tuller, em Cianorte.7
                . Até então, todos estes eram membros da Igreja Presbiteriana Independente, ainda que enfrentando
                oposição por parte de muitos.</p>

            <h2 align="center">O Avivamento na região de Assis, SP</h2>
            <br />
            <p align="justify">Assis, no interior paulista, foi outro foco no surgimento da renovação espiritual na IPI.
                O Pr. Abel Amaral Camargo foi um dos principais líderes do movimento carismático na região de Assis. Ele
                mudou-se para lá em 1962, com o objetivo de auxiliar o Rev. Azor Etz Rodrigues, que pastoreava uma
                igreja com sete congregações.</p>
            <p align="justify">É o próprio pastor Abel que relata em seu artigo publicado no Jornal Aleluia as
                influências que tanto a IPI como ele mesmo. Quanto à IPI, diz ele que, em 1933, o Rev. Ridout esteve em
                Assis e a congregação foi sacudida bem como houve a manifestação dos dons. Em 1952, o Rev. Dom Philips
                esteve também na igreja, mas as manifestações de renovação espiritual foram sufocadas.</p>
            <p align="justify">Quanto às influências que o próprio pastor Abel havia sofrido, relatava ele que, de 1951
                a 1953, participara de uma campanha de cura divina e avivamento na IPI do Cambuci, SP. Os preletores
                foram Harold W. Botright, os Revs. Edwin Orr, Dom Philips e Dunlap. Em 1958, o pastor Abel A. Camargo
                leu o livro O Reavivamento de que Precisamos. Estas foram as primeiras grandes influências que o
                impactaram.</p>
            <p align="justify">Em 1967, o Pr. Abel começou um trabalho de evangelização em Assis. Havia lido livros
                como: Avivamentos que Avivam, O Poder do Alto, O Poder Através da Oração, etc... Com isso surgiu o
                desejo de ver a igreja crescer numericamente.</p>
            <p align="justify">O movimento começou a tomar vulto. Muitos pastores estiveram pregando em Assis: Antonio
                Elias, Enéas Tognini, Jabes P. da Silva, Joel Ferreira, Daniel Bonfim, Euclides V. da Silva e outros.
                Foi um período de reavivamento, com muitas decisões por Cristo e também muita oposição.</p>
            <p align="justify">Entre 67 e 69, muitas caravanas se dirigiam a Assis. Vinham de Presidente Prudente,
                Bauru, Marília, São Paulo, Iepê, Rancharia, Paraguaçu Paulista, Ibirarema, Tarumã, Cândido Mota,
                Londrina, Sertanópolis, Paranagi e Ourinhos. Pastor Abel conta que muitos enfermos sendo curadas. Havia,
                também, uma mudança de costumes: senhoras deixavam seus brincos, colares, estatuetas, etc...</p>
            <p align="justify">A 1ª Igreja Presbiteriana Independente de Assis e suas congregações cresceram. Em 1970, o
                Pastor Abel armou uma tenda para evangelização em Assis e houve muitas conversões. Nesse mesmo ano, o
                Rev. Nilton Tuller, que já havia tido sua experiência de renovação espritual no Paraná, foi para Assis,
                SP, a fim de auxiliar o Pr. Abel. Desta forma, o movimento foi crescendo.</p>

            <h2 align="center">Os Problemas que os Carismáticos Encontraram na IPI e a Cisão da Igreja</h2>
            <br />
            <p align="justify">No início de 1971, o Pr. Jobel C. Venceslau foi eleito presidente do Presbitério Oeste do
                Paraná. Nesse ano, ele e outros pastores escreveram vários artigos em O Estandarte, órgão oficial de
                publicações da Igreja Presbiteriana Independente, nos quais a Igreja era conclamada à evangelização,
                oração, santificação, etc... Embora houvesse oposição ao movimento renovado, estava sendo possível
                continuar o ministério.</p>
            <p align="justify">Em Assis, SP, a obra começara a crescer. Pr. Abel A. Camargo escreveu: "A obra do
                avivamento tinha tomado tal vulto que atingira as cidades de Bauru, Presidente Prudente, São Paulo,
                etc... Começaram a sentir o impacto daquilo que Deus fazia em Assis. Por outro laço começou a incomodar
                de tal maneira, criando problemas na igreja local e em parte da denominação.</p>
            <p align="justify">No Oeste do Paraná, o movimento da renovação espiritual estava crescendo. Em Assis e em
                Bauru, SP, as igrejas sob o pastorado de Abel A. Camargo e Adílio Fernandes, respectivamente, já estavam
                envolvidas no movimento de renovação. Assim, a liderança da Igreja Presbiteriana Independente começou a
                tomar consciência da situação em que estava a denominação.</p>
            <p align="justify">Os chamados "renovados" foram ficando sem ambiente dentro da denominação e logo surgiram
                as desavenças conciliares. Sem voz no órgão oficial da igreja, em janeiro de 1972, o Rev. Azor Etz
                Rodrigues juntamente com os reverendos Abel Amaral Camargo, Palmiro Francisco de Andrade e Nilton
                Tuller, fundam, em Assis, o <a href="http://pt.wikipedia.org/wiki/Jornal_Aleluia">Jornal Aleluia.</a>
            </p>

            <h2 align="center">Decisões do Supremo Concílio da Igreja Presbiteriana Independente</h2>
            <br />
            <p align="justify">Conscientizando-se dos problemas, em 09/02/69 o SC da IPI reuniu-se, decidindo o
                seguinte: "I.O SC sente a necessidade urgente de um despertamento da Igreja para uma vida espiritual
                mais profunda e poderosa no testemunho do Evangelho; II. Não se conforma com uma posição de indiferença
                espiritual, e não admite fanatismos que geram desordens, mas procura orientar esse movimento no sentido
                de que todos os crentes se encontrem aos pés de Cristo; III. Nesse propósito, o SC hipoteca irrestrita
                solidariedade aos pastores que, com seriedade e sensatez vêm procurando um autêntico avivamento em
                nossas igrejas, no sentido de fidelidade às Escrituras e sob a orientação do Espírito Santo, sem os
                exageros e fanatismos desnecessários, tendo em vista o ensino de Paulo em I Co 14.4; IV. Embora
                admitindo a existência de dons espirituais que o Espírito concede a quem ele quer ( 1Co 12.1-11) julga o
                SC que deva ser dada toda ênfase ao fruto do Espírito, de acordo com Gálatas 5.22-23 e não a tais
                dons... d) Quanto aos dons espirituais, segundo ICo 12.7-14, eles são dados com fins proveitosos,
                devendo portanto, em seu uso, haver decência, moderação e ordem para que a Trindade não seja blasfema (I
                Co 14.33-40); e) Que no uso do dom da profecia a Igreja se preocupe com o pensamento de Pulo em I Co
                14.3, no seu tríplice aspecto (edificação, exortação e consolação) de que naquele espírito visionário de
                apresentar fatos e conhecimentos futuros; f) Que na busca do poder, os crentes vejam que a bênção
                grandiosa encontra-se no fruto do Espírito em contra-posição aos da carne, segundo Gálatas 5.16-23.(18)"
            </p>
            <p align="justify">Esta posição do Supremo Concílio parecia ter sido bem equilibrada e, com ela, muitos
                pastores, presbíteros e crentes aderiram à renovação espiritual. A direção da IPI estava aceitando a
                renovação em termos moderados, condenando somente os excessos vistos no meio pentecostal.</p>
            <p align="justify">Como resultado da referida posição do SC, foram realizadas reuniões em Assis, SP, e em
                Arapongas, PR, com o objetivo de interceder pelo movimento; também tinham a finalidade de organizar,
                estruturar e orientar a expansão do movimento.</p>
            <p align="justify">Em 04 de maio de 1970 houve uma reunião em Arapongas, com 23 pastores e leigos. Vários
                assuntos foram debatidos, como: a ordem nas reuniões, testemunhos nos cultos, o uso de palmas
                acompanhando cânticos, uso de instrumentos musicais, tipo de saudação, etc...</p>
            <p align="justify">Na reunião feita em Arapongas, PR, “pastores e presbíteros estudaram a doutrina do
                Espírito santo e todos foram concordes de que Deus estava chamando a IPI do Brasil para uma fase de
                despertamento e evangelização”.</p>
            <p align="justify">Foi também realizado feito um encontro em Assis, em 09 de agosto de 1971, com a presença
                de 28 pastores, presbíteros e leigos. Nesse encontro foram analisados os resultados do avivamento que ia
                penetrando no meio presbiteriano independente.</p>
            <p align="justify">A Igreja Presbiteriana Independente estava em um ponto crucial quanto à história do
                movimento de renovação espritual. Com o posicionamento do Supremo Concílio, houvera novo impulso.
                Contudo, começaram a surgir críticas verbais e escritas. O órgão oficial da IPI, O Estandarte, fechou-se
                e não publicava textos dos que estavam aderindo à renovação espiritual.</p>
            <p align="justify">O Rev. Antonio Corrêa Rangel de Alvarenga escrevia combatendo os liberais, os
                pentecostais e os ecumênicos. Vários pastores foram chamados a São Paulo para serem interrogados acerca
                de seus posicionamentos.</p>
            <p align="justify">A Mesa Administrativa da Igreja Presbiteriana Independente nomeou uma comissão composta
                de 9 pessoas (“Comissão dos Nove”) para estudar o assunto. Em 31 de março de 1970, a referida Comissão
                apresentou um relatório, apenas repetindo as resoluções tomadas em 02/09/69, supra-citadas.</p>
            <p align="justify">Aguardava-se, agora, a reunião do Supremo Concílio de 1972, que trataria do assunto. A
                esperança de muitos é que não houvesse divisão na Igreja. Contudo, em 1971 morreu o Rev. Daily Rezende
                França, então presidente do Supremo Concílio. Ele não queria, de forma alguma, que a IPI se dividisse.
                Afirma ele que, em suas mãos, a Igreja não iria se dividir. Contudo, com seu falecimento a IPI tomou
                outros rumos.</p>
            <p align="justify">A reunião do Supremo Concílio foi marcada para 21 de janeiro de 1972, em Brasília, DF.
                Uma nova Mesa Administrativa fora eleita e o posicionamento com respeito aos "renovados" foi alterado.
            </p>
            <p align="justify">O jornal O Estandarte publicou um artigo em 31 de março de 1972, p. 16, apresentando a
                nova posição da Igreja, agora, contra o pentecostalismo.</p>
            <p align="justify">A Resolução da IPI foi o seguinte:</p>
            <p align="justify">Considerando: 1. a) Que o movimento chamado “avivamento, reavivamento, despertamento
                espiritual, avivantismo, etc..., tem adquirido em determinadas circunstâncias, no tempo e no espaço,
                formas nitidamente pentecostalistas; b) Que em suas práticas, muitas vezes, apresentam um comportamento
                que está fora das nossas tradições presbiterianas, doutrinárias e forma de culto; c) Que em seus
                movimentos, muitas vezes, sem um controle criterioso, tem dado oportunidade à exploração por indivíduos
                mal-intencionados, aproveitadores das comunidades presbiteriano-independentes; d) Que em grupos, muitas
                vezes criados dentro de nossas comunidades, representados pelos chamados “profetas, profetisas, servos
                do Senhor, há práticas como unção com óleo, ósculo santo, cumprimentos na paz do Senhor, uso de línguas
                estranhas, atividades de cura divina, etc... – são identificações das igrejas pentecostais, assumindo
                atitudes concorrentes e de substituição aos que continuam fiéis à nossa tradição Presbiteriana e da
                autoridade regente e docente do nosso presbiterado, que até hoje tem dado tantas glórias à IPI do Brasil
                em nome do Senhor da Igreja, Jesus Cristo; e) Que é público e notório as infiltrações de elementos das
                igrejas pentecostais nesses movimentos, minando a estabilidade e abalando os nossos princípios em favor
                daquelas denominações; f) Que a fidelidade aos nossos princípios doutrinários e forma de culto é
                elemento fundamental de identificação da nossa denominação e criador da unidade da nossa amada IPI do
                Brasil;</p>
            <p align="center">A Comissão Propõe:</p>
            <p align="justify">2. Que o SC: a) Reafirme sua fidelidade às doutrinas e normas bíblicas do
                Presbiterianismo consubstanciadas nos seus símbolos de Fé e Catecismo; b) Embora respeitando os
                pentecostais em suas denominações, o SC não consente que suas doutrinas e práticas pentecostais sejam
                adotadas pelas nossas igrejas, quer nos templos ou em outros locais, visto haver elementos estranhos
                aliciando membros de nossas igrejas para reuniões em casas particulares, recebendo mesmo donativos para
                seu sustento; c) Que os conselhos, Presbitérios e Sínodos tomem as medidas necessárias dentro de suas
                atribuições, defendendo intransigentemente o sistema doutrinário presbiteriano e bíblico; d) Que os
                pastores e oficiais, declaradamente adeptos ou coniventes dessas doutrinas pentecostais, sejam
                advertidos pelos responsáveis eclesiásticos mais próximos, fazendo-os cientes de que poderão ser
                enquadrados no Código de Disciplina da IPI do Brasil, pela desídia doutrinária, conforme artigo 9,
                letras a e d C.D.; e) Que os pastores e conselhos sejam zelosos com seus púlpitos, não permitindo a
                presença de pregadores que possam criar confusão na consciência de nossos membros; f) Que elementos
                vindos das igrejas pentecostais, em transferência para a IPI, sejam rigorosamente examinados sobre suas
                convicções doutrinárias e pelos concílios correspondentes, procurando eliminar a infiltração
                inconveniente à nossas igrejas.</p>
            <p align="justify">3. Que o SC: a) Determine à Mesa Administrativa que faça uma fiscalização efetiva do
                cumprimento dessas reafirmações de princípios; b) Dê plenos poderes à Mesa Administrativa para funcionar
                como Assembléia Geral da Igreja, no sentido de advertir, disciplinar e tomar todas as providências
                necessárias à manutenção da ordem e fidelidade à IPI do Brasil em todos os seus arraiais... e) Que em
                tudo se proceda com maior cautela, amor, e que sempre se considere cada caso separadamente e nunca em
                grupo.</p>
            <p align="justify">A comissão que elaborou esse documento não contou com a participação de nenhum líder
                avivalista. Desta forma, o avivamento deveria ser extirpado da IPI.</p>
            <p align="justify">O Pr. Abel referiu-se ao fato como sendo meramente uma política eclesiástica. Ele propõe
                que uma das causas da divisão da IPI foi a política desta Igreja na época:</p>
            <p align="justify">"...Mandonismo. A Igreja é de meia dúzia de homens e o Espírito Santo é o último que dá
                parecer. Campanhas, cartas, telegramas, ofertas e promessas de cargos. Personalismo, vaidade. Só um
                avivamento para poder acabar com isto. Nada temos contra ninguém. Defendemos uma obra rejeitada por uma
                denominação. Também somos frutos de uma política eclesiástica infeliz...</p>
            <p align="justify">Visto então que, em 21/01/72, o SC posicionou-se contra o avivamento, era hora de uma
                posição ser tomada pelos que o aceitavam. Pastores e presbíteros elaboraram um documento em 21/04/72 na
                cidade de Arapongas, dirigido ao Supremo Concílio da IPI:</p>
            <p align="justify">"Os abaixo citados, pastores e presbíteros da IPI do Brasil, reunidos em Arapongas, no
                dia 21 de abril de 1972, resolveram encaminhar a V. Excia o seguinte:</p>
            <p align="justify">"CONSIDERANDO que não podemos cumprir, em nossas igrejas, a resolução do SC, por questão
                de consciência, referente ao avivamento espiritual, que tem lugar em nossa denominação; que o apelo
                feito pela Mesa, no sentido de que os concílios inferiores tivessem cautela, amor e evitassem
                precipitações, diante dos problemas que porventura surgissem, não foi atendido, tendo em vista o
                desfecho trágico ocorrido em Bauru, Vila Yara, Bela Vista e São João Clímaco;</p>
            <p align="justify">DECLARAMOS: cremos no batismo com o Espírito Santo como benção para todos os crentes;
                cremos no exercício dos dons espirituais para os nossos dias (teoria e prática) de acordo com a
                orientação do apóstolo Paulo, dados pelo Espírito Santo, quando e a quem ele quer (I Co 12 e 14);
                recomendamos a necessidade de se corrigir qualquer exagero (I Co 14.40); recomendamos a glorificação a
                Deus nos cultos e nas reuniões de oração, porém, espontânea; daremos assistência moral e espiritual aos
                grupos dissidentes por motivo de avivamento espiritual, não aceitamos como práticas pentecostais o
                cumprimento com a Paz do Senhor, unção com óleo, ósculo santo, etc..., por serem apostólicos e bíblicos;
                não paira em nós qualquer espírito de rebeldia contra nossa denominação, mas um desejo ardente de que o
                impasse surgido possa encontrar um caminho que satisfaça às consciências. Pastores abaixo citados: José
                Zaponi, Nilton Tuller, Ner de Moura, Laércio Dias, Jesé Andrade, Saulo Franco de Melo, Abel Amaral
                Camargo, Adolfo Neves, Palmiro Francisco de Andrade, Jobel Cândido Venceslau, Lauro Celso de Souza,
                Jonas Nogueira e Joaquim Ferreira Bueno; presbíteros: Jamil Josepetti, José Fernandes Pedrosa, Diracy de
                Lima, Pedro Auto da Silva, Euclides Morais Pessoa, Cornélio Pinheiro da Silva, Moacir Borges, Walter
                Nogueira, Acyr Palma, Agnelo A. dos reis, Jair Augusto Nogueira, Saulo Augusto da Silva, Ary Bernini,
                Jonas de Souza, Seth de Souza, Elizeu Rodrigues, Osias Rodrigues, Alvim Castro de Souza, Jairo Terra,
                Daniel Zaponi, Antonio Luiz Furlan, Manoel Louzada, Abel Pereira da Silva, Walter Batista de Carvalho,
                José Carlos de Menezes, Brivaldo A. da Silva, Ananias José de Paiva, Messias Ribeiro de Andrade, Antonio
                Batista Cavalcante, Ageo Silva, Onésimo Freire, Luiz Mantoanelli, Guaracy de Souza, Alfredo Rolim
                Barbosa, Osvaldo Mendes, Roberto de Souza Castro, Severo Farias Franco, Samuel Antonio Gonçalves e Srª
                Carolina Menezes.</p>
            <p align="justify">Com base neste documento, certos presbitérios não exitaram em disciplinar pastores e
                presbíteros sem qualquer processo. Em 21 de maio, o Presbitério de Maringá cassou o Rev. Palmiro
                Francisco de Andrade e cerca de 30 presbíteros. No dia 24 do mesmo mês, o Presbitério de Assis cassou os
                pastores Abel Amaral Camargo, Nilton Tuller, Laércio Dias, Adolfo Neves, Walter Batista de Carvalho e
                vários presbíteros. A mesma medida foi tomada pelo Presbitério Oeste do Paraná, quando os pastores Jobel
                Cândido Venceslau, Joel do Prado, Lauro Celso de Souza e mais 25 presbíteros foram cassados. Vítima do
                Presbitério do Ipatinga o Pr. Osvaldo Borges da Silva não escapou.</p>
            <p align="justify">Tendo em vista que o Supremo Concílio tomara decisão sobre a matéria, o Presbitério de
                Assis se reuniu e disciplinou 4 pastores, 1 licenciado e 4 presbíteros, por estarem envolvidos com o
                Avivamento Espiritual. Note como foi a votação no referido caso:</p>
            <p align="justify">1)Colocando em disponibilidade ativa os pastores Abel Amaral Camargo, Nilton Tuller,
                Laércio Dias e Adolfo Neves, por tempo indeterminado. Aprovado por desempate do presidente em vista do
                empate de 9 votos favoráveis e 9 votos contrários. 2) Ficam os referidos pastores impedidos de prestar
                assistência pastoral a igrejas dissidentes. Aprovado por desempate do presidente em vista do empate de 9
                a 9 votos. 3) Os ministros mencionados ficam proibidos a qualquer atividade proselitista. Aprovado por
                10 contra 9 votos. 4) Ficam os referidos ministros obrigados a obedecer o Concílio quanto a tópico
                Avivamento Espiritual de acordo com o Artigo 43. Aprovado por 10 contra 9 votos. Os presbíteros que
                assinaram o documento de Arapongas ficam em disponibilidade ativa... Aprovado por 10 votos contra 6 com
                uma abstenção. Os presbíteros que não tendo assinado o documento, mas que não atacam a resolução do SC
                quanto à questão do avivamento Espiritual, ficam igualmente em disponibilidade ativa. Aprovado com 13
                votos contra 6 e uma abstenção. Que o provisionado Walter Batista de Carvalho seja dispensado a partir
                desta data. Aprovado por 12 contra 7 votos, com uma abstenção. Os estudantes Natanael A. Palazin, Alvino
                de Paula Neves e Francisco José da Silva declaram não acatar as resoluções, foram colocados em
                disponibilidade.</p>
            <p align="justify">Como se viu anteriormente, no final de janeiro de 1972, houve a reunião do <a
                    href="http://pt.wikipedia.org/wiki/Supremo_Conc%C3%ADlio">Supremo Concílio</a> em Brasília onde foi
                aprovada por unanimidade a resolução que dava poderes aos concílios menores para disciplinar os pastores
                e presbíteros que insistissem no movimento de renovação. Com isso, em 8 de julho de 1972, em Assis, foi
                fundada a Igreja Presbiteriana Independente Renovada do Brasil com 11 pastores (sendo 10 oriundos da
                IPIB) e 33 presbíteros. A primeira diretoria foi constituída pelas seguintes pessoas: Rev. Palmiro
                Francisco de Andrade, presidente; Rev. Abel Amaral Camargo, vice-presidente; presbítero Jamil Josepetti,
                primeiro secretário; presbítero Djalma Barbosa de Oliveira, segundo secretário e presbítero Jesus Gualda
                Peres, tesoureiro.</p>

            <h2 align="center">A união das duas igrejas</h2>
            <br />
            <p align="justify">Em 08 de janeiro de 1975, em Maringá, PR, reuniram-se em Assembléia 34 pastores da IPIR,
                25 da ICP e 78 <a href="http://pt.wikipedia.org/wiki/Presb%C3%ADteros">presbíteros</a> para formalizarem
                a união e fundar a Igreja Presbiteriana Renovada do Brasil. Os pastores fundadores foram:</p>
            <p align="justify"><b>IPIR</b> 1. Abel Amaral Camargo 2. Adolfo Neves 3. Altair Batista Linhares 4. Altair
                Monteiro da Silva 5. Alvino de Paula Neves 6. Antonio Ferreira Sobrinho 7. Ariovaldo Cardoso de Oliveira
                8. Daniel Pereira de Almeida 9. Ernesto Swartele 10. Gérson Pereira 11. <a
                    href="http://pt.wikipedia.org/wiki/Gordon_Chown">Gordon Chown</a> 12. Idelfonso de Souza 13. Jair de
                Andrade 14. Jerson de Paula Neves 15. João Bernardino da Silva 16. João Maria Correia 17. Jobel Cândido
                Venceslau 18. Joel do Prado (Minas Gerais) 19. Joel do Prado (Paraná) 20. José Zaponi 21. Laércio Dias
                22. Lauro Celso de Souza 23. Leonardo de Araújo 24. Luís Carlos Dal Bem 25. Manoel Messias Pereira 26.
                Natanael Antonio Palazin 27. Ner de Moura 28. Nilton Tuller 29. Osvaldo da Silva Borges 30. Otoniel
                Antonio de Sousa Filho 31. Palmiro Francisco de Andrade 32. Ronaldo Tavares 33. Walter Birseneck 34.
                Vicente Felipe de Souza</p>
            <p align="justify"><b>ICP</b> 1. Abel Ferreira Cortes 2. Ananias Lobach 3. Celsino Marques de Azevedo 4.
                Dario José Caetano 5. Décio de Azevedo 6. Drumond de Oliveira Caixeta 7. Enoch Pereira Borges 8. Giezi
                Marques de Azevedo 9. João Luís da Silva 10. Joaquim Vidal de Ataídes 11. Joaz Eller Marques 12. <a
                    href="http://pt.wikipedia.org/wiki/Jonathan_Ferreira_dos_Santos">Jonathan Ferreira dos Santos</a>
                13. José Berto de Araújo Neto 14. Leobino Lopes da Silva 15. Leopoldo Pereria da Mota 16. Nagipe Morais
                Amim 17. Otávio Paulino de Farias 18. Paulo de Oliveira Brasil 19. Renato de Paula Machado 20. Sebastião
                Ramiro dos Santos 21. Tetsuya Tokano 22. Valdir Zazonov 23. Wagner Teodoro da Silva 24. Walter Batista
                de Carvalho 25. Evangelista João Alves Veloso</p>
            <p align="justify"><a href="http://pt.wikipedia.org/wiki/Presb%C3%ADteros">Presbíteros</a> <b>representantes
                    de igrejas Locais</b>: Estiveram presentantes na Assembléia 78 <a
                    href="http://pt.wikipedia.org/wiki/Presb%C3%ADteros">presbíteros</a>, representando as seguintes
                igrejas: Abreu e Lima (PE) Arapongas (PR) Assis (SP) Assis Chateaubriand (PR) Anápolis (GO) - I Anápolis
                (GO) - II Bauru (SP) Belo Horizonte (MG) Betânia (PR) Cachoeira (PR) Cacoal (RO) Campina da Lagoa (PR)
                Campina Grande (PB) Campo Mourão (PR) - I Campo Mourão (PR) - II Canaã (PR) Cândido Mota (SP) Centenário
                do Sul (PR) Cianorte (PR) - I Cianorte (PR) - II Cianorte (PR) - III Cruzeiro do Oeste (PR) - I Cruzeiro
                do Oeste (PR) - II Curitiba (Vila Camargo-PR) Douradina (PR) Dourados (MS) Elisa (PR) Farol (PR) Faxinal
                (PR) Formoso (GO) Gama (DF) Goiânia (GO) - I Goiânia (GO) - II Goioerê (PR) Gov. Valadares (MG) - I Gov.
                Valadares (MG) - II Gov. Valadares (MG) - III Guaíra (PR) Guará (DF) Iporã (PR) Itambé (PR) Itapema (SC)
                Jales (SP) Janiópolis (PR) Lajes (SC) Londrina (PR) Manaus (AM) Medina (MG) Monte Belo (MG) Nova Olímpia
                (PR) Olinda (PE) Osasco (SP) Padre Paraíso (MG) Palmital (PR) Paraguaçu Paulista (SP) Paranavaí (PR) - I
                Paranavaí (PR) - II Perobal (PR) Pérola (PR) Pirapozinho (SP) Poços de Caldas (MG) Ponta Grossa (PR)
                Pres. Venceslau (SP) Ribeirão Bonito (PR) São João Clímaco (SP) São Jorge (PR) São José de Pitanga (PR)
                Sobradinho (DF) Sobrália (MG) Sorocaba do Sul (SC) Taguatinga (DF) - I Taguatinga (DF) - II Tangará da
                Serra (MT) Telêmaco Borba (PR) Teófilo Otoni (MG) Umuarama (PR) Vila de Rondônia (RO) Vila Iara
                (Osasco-SP) Padre Paraíso (MG) Palmital (PR) Paraguaçu Paulista (SP) Paranavaí (PR) - I Paranavaí (PR) -
                II Perobal (PR) Pérola (PR) Pirapozinho (SP) Poços de Caldas (MG) Ponta Grossa (PR) Pres. Venceslau (SP)
                Ribeirão Bonito (PR) São João Clímaco (SP) São Jorge (PR) São José de Pitanga (PR) Sobradinho (DF)
                Sobrália (MG) Sorocaba do Sul (SC) Taguatinga (DF) - I Taguatinga (DF) - II Tangará da Serra (MT)
                Telêmaco Borba (PR) Teófilo Otoni (MG) Umuarama (PR) Vila de Rondônia (RO) Vila Iara (Osasco-SP).</p>

            <h2 align="center">Órgãos auxiliares</h2>
            <br />
            <ul>
                <li><a href="/wiki/Semin%C3%A1rio_Presbiteriano_Renovado_de_Cianorte"
                        title="Seminário Presbiteriano Renovado de Cianorte">Seminário Presbiteriano Renovado de
                        Cianorte</a> - SPR-CNT. </li>
                <li><a href="/wiki/Semin%C3%A1rio_Presbiteriano_Renovado_Brasil_Central"
                        title="Seminário Presbiteriano Renovado Brasil Central">Seminário Presbiteriano Renovado Brasil
                        Central</a> - SPR-BC.</li>
                <li><a href="/w/index.php?title=Editora_Aleluia&amp;action=edit&amp;redlink=1" class="new"
                        title="Editora Aleluia (página não existe)">Editora Aleluia</a></li>
                <li><a href="/wiki/Miss%C3%A3o_Priscila_e_%C3%81quila" title="Missão Priscila e Áquila">Missão Priscila
                        e Áquila</a> - MISPA</li>
            </ul>

            <h2 align="center">Estatística</h2>
            <br />
            <ul>
                <li><b>1975</b> - A IPRB tinha, no momento de sua organização: 8.335 membros, 84 igrejas, 8
                    presbitérios, 59 pastores, 97 templos, um seminário e um jornal - o Aleluia.</li>
                <li>Em</b> 31 <b>de</b> dezembro de 2005 constavam em seu rol: 98.365 membros, 382 Igrejas, 41
                    presbitérios, 915 pastores, 1.167 templos, dois seminários, o Jornal Aleluia, um órgão de missões -
                    a MISPA - e a Editora Aleluia.</li>
                <li><b>Em</b> 31 <b>de</b> dezembro constavam em seu rol:116.742 membros.</li>
                <li><b>Em</b> 31 <b>de</b> dezembro constavam em seu rol:120.807 membros.</li>
                <li><b>Em</b> 31 <b>de</b> dezembro constavam em seu rol:131.972 membros.</li>
            </ul><br />

            <h2 align="center">Sistema administrativo</h2>
            <br />
            <ul>
                <li><b>Administração local</b></li>
            </ul>
            <p>a) As Igrejas têm como órgãos administrativos e deliberativos o seu Conselho e a sua Assembléia, não
                tendo estes órgãos, porém, a prerrogativa na sucessão pastoral, como nas demais Igrejas Presbiterianas.
                <p>b) As Igrejas são autônomas na administração de seu patrimônio. (Os bens - templos, imóveis, etc -
                    pertencem à Igreja local e não à denominação).
                    <p>c) A Igreja local é filiada à denominação e jurisdicionada por um <a
                            href="/wiki/Presbit%C3%A9rio" title="Presbitério">Presbitério</a>.
                        <ul>
                            <li><b>Administração regional</b></li>
                        </ul>
                        <p>Um grupo de Igrejas forma um Presbitério. Aos presbitérios pertencem as seguintes
                            prerrogativas: a designação e a sucessão pastoral para as igrejas locais. A IPRB não possui
                            <a href="/wiki/S%C3%ADnodos" title="Sínodos" class="mw-redirect">sínodos</a>.</p>
                        <ul>
                            <li>Administração nacional</li>
                        </ul>
                        <ul>
                            <li>O órgão máximo é a Assembleia Geral, formada por todos os pastores e por um
                                representante de cada Igreja.</li>
                            <li>A Igreja tem duas diretorias: uma executiva e uma administrativa.</li>
                            <li>A Diretoria Executiva compõe-se de sete membros.</li>
                            <li>A Diretoria Administrativa é formada pelos componentes da Diretoria Executiva, por todos
                                os Presidentes de Presbitério, pelos presidentes dos órgãos auxiliares, pelos diretores
                                dos Seminários e pelos presidentes das Associações Beneficentes. É o sistema que
                                substitui os sínodos.</li>
                        </ul><br />

                        <h2 align="center">Órgão oficial</h2>
                        <br />
                        <ul>
                            <li><a href="/wiki/Jornal_Aleluia" title="Jornal Aleluia" class="mw-redirect">Jornal
                                    Aleluia</a>, fundado em janeiro de <a href="/wiki/1972" title="1972">1972</a> ainda
                                na <a href="/w/index.php?title=IPIB&amp;action=edit&amp;redlink=1" class="new"
                                    title="IPIB (página não existe)">IPIB</a>. A partir de outubro de 1972 tornou-se
                                órgão oficial da <a href="/w/index.php?title=IPIR&amp;action=edit&amp;redlink=1"
                                    class="new" title="IPIR (página não existe)">IPIR</a>. Em <a href="/wiki/1975"
                                    title="1975">1975</a> tornou-se órgão oficial da <a
                                    href="/w/index.php?title=IPRB&amp;action=edit&amp;redlink=1" class="new"
                                    title="IPRB (página não existe)">IPRB</a>.</li>
                        </ul><br />

                        <h2 align="center">Resumo Histórico da IPRB</h2>
                        <br />
                        <p align="justify"><b>O Despertamento Espiritual</b> Nos anos 60 do século passado, formaram-se
                            em diversas partes do país dentro igreja Presbiteriana do Brasil e da Igreja Presbiteriana
                            Independente do Brasil, grupos de oração que buscavam um avivamento espiritual para a
                            igreja. Como resultado desta busca, muitos irmãos foram cheios do Espírito Santo, começaram
                            a falar em línguas e a ter visões e revelações. Como resultado deste enchimento de poder, os
                            cultos passaram a ser mais animados, sem tantas formalidades e com a participação de todos
                            os que desejavam; como resultado, o número de conversões aumentou significativamente.
                            Inicialmente, a adesão não foi muito grande, mas na medida em que o movimento permaneceu
                            firme, muitos outros foram alcançados, e logo, os grupos já podiam lotar igrejas;
                            presbitérios inteiros foram sacudidos pelo poder de Deus. A adesão de líderes também se
                            expandiu logo, sendo na maioria deles presbíteros presbiterianos e alguns pastores. Este
                            período de despertamento foi intenso em muitos sentidos: muitas conversões, muitos milagres,
                            intenso derramar do Espírito, muitas experiências sobrenaturais, mas por outro lado, foi um
                            periodo que trouxe bastante sofrimento ao povo de Deus, na medida que movimento espiritual
                            cresceu começou a incomodar os líderes da igreja na época, consequentemente, muitos crentes,
                            pastores e oficiais foram excluídos, outros disciplinados e outros expulsos das igrejas mães
                            que tanto amavam. Desse modo, deu-se início a uma obra de renovação espiritual no seio do
                            presbiterianismo conservador brasileiro.</p>
                        <p align="justify"><b>A Consolidação do Despertamento</b> Na Igreja Presbiteriana do Brasil,
                            especificamente, quatro presbitérios foram atingidos pela renovação: Cianorte, Brasil
                            Central, São Paulo e Vitória. Estes grupos renovados tornaram-se expressivos, porém não
                            tinham visibilidade dentro da denominação. Em razão disso, desligaram-se da igreja, formando
                            presbitérios separados, sem placa denominacional. Em 1968, porém, numa assembléia realizada
                            em Cianorte, PR, sob a presidência do Rev. Jonathan Ferreira dos Santos, os presbitérios de
                            Cianorte e do Brasil Central uniram-se dando origem a Igreja Cristã Presbiteriana (ICP). Já
                            na Igreja Presbiteriana Independente, o processo foi mais lento, porém não menos intenso. Em
                            1972, na cidade de Assis, no Estado São Paulo, numa assembléia realizada no dia 08/07/1972,
                            sob a presidência do Rev. Palmiro Francisco de Andrade, contando com a presença de 40
                            presbíteros e 11 ministros, foi fundada a Igreja Presbiteriana Independente Renovada (IPIR).
                            As duas igrejas recém formadas adotaram fielmente a tradição presbiteriana de governo, com
                            as seguintes diferenças: criam na continuidade dos carismas; criam no enchimento com o
                            Espírito Santo; adotavam uma liturgia menos formal; adotavam os usos e costumes; cantavam
                            hinos do hinário e corinhos pentecostais e proibiam o uso da televisão; no pensamento
                            teológico, adotaram a corrente arminiana.</p>
                        <p align="justify"><b>União das Forças Renovadas</b> Entre os anos de 1972 e 1975, as duas
                            igrejas renovadas buscaram entendimentos e aproximações; perceberam que possuíam muito mais
                            pontos de convergência que discrepantes. Em razão disso, no dia 08 de janeiro de 1975, na
                            cidade de Maringá, no templo antigo da 1º IPR de Maringá, numa assembléia geral histórica,
                            as duas igrejas uniram-se, formando a Igreja Presbiteriana Renovada do Brasil (IPRB).
                            Estiveram presentes na assembléia de fundação da igreja: 78 presbíteros, 58 ministros e 30
                            evangelistas, além de famílias da igreja. A nova denominação adotou fielmente o padrão
                            neo-testamentário de liderança: o presbiteriano. A IPRB incorporou o Instituto Bíblico de
                            Cianorte, transformando-o em Seminário, depois de unificá-lo com o Instituto Bíblico de
                            Arapongas (IBA); adotou o Jornal Aleluia, fundado em 1972, em Assis-SP, como seu órgão
                            oficial. Em outubro de 1975, fruto da visão de um homem de Deus, Pr. Altair Batista
                            Linhares, em Teófilo Otoni-MG, fundou-se a Mispa – Missão Priscila e Áquila, que viria ser a
                            agência missionária da Igreja a partir de 1979. Muitos trabalhos foram fundados a partir
                            desta agência, contribuindo para que muitas igrejas e alguns presbitérios fossem formados.
                            Já na década de 90 do século passado, a igreja organizou o Seminário Presbiteriano do Brasil
                            Central e construiu a sede própria da Mispa. Com estes acontecimentos, ainda no século
                            passado, a IPRB se fortaleceu e se consolidou não apenas como mais uma igreja evangélica em
                            solo pátrio, mas como resultado de um ardoroso avivamento espiritual, ocorrido no seio do
                            presbiterianismo brasileiro.</p>
                        <p align="justify"><b>Da União das Forças Renovadas ao Crescimento da Igreja: A Era de Ouro da
                                IPRB</b> As duas décadas e meia que se seguiram a fundação da igreja foram muito
                            produtivos. Neste longo período, além da igreja ter fundado uma junta publicadora, uma
                            agência missionária, e obtido outros avanços, a igreja colheu muitos frutos para o reino de
                            Deus. De 1975 ao ano 2000, a igreja cresceu em média 9,29% ao ano, proclamando o evangelho
                            do Reino no Brasil, em vários países da América, da Europa, da Ásia e da África. Essa
                            pujança inicial da igreja era devida a pelo menos três fatores principais: a) pregação
                            bíblica cristocêntrica; c) total dependência de Deus quanto ao crescimento da igreja e, d) a
                            existência de uma forte liderança leiga. Em relação a pregação bíblica, é notório que o
                            período em questão foi muito profícuo; os pregadores da palavra de Deus tinham o compromisso
                            único de expor a palavra da salvação, combater veementemente o pecado e as heresias; as
                            convicções teológicas dos ministros não abria espaço para eventuais desvios doutrinários,
                            apesar de esta condição ter se alterado consideravelmente na segunda metade da década de 90
                            do século passado. Por outro lado, a igreja como um todo, fruto das convicções teológicas
                            que pregava, tinha em Deus a total dependência quanto ao crescimento do Reino de Deus; os
                            encontros de avivamento em Cianorte e em outras regiõesdo Brasil, eram meios de despetar o
                            povo de Deus a oração e ao evangelismo, cujos resultados eram notados posteriormente nas
                            igrejas locais; os ministros pregavam no poder do Espírito Santo a palavra da verdade, e os
                            corações compugnavam-se, convictos de pecado. Por último, uma das razões para a pujança da
                            igreja era a existencia de um respeitável corpo de líderes leigos, formado por presbíteros e
                            diáconos. Em relação aos primeiros, foi notória a presença destes líderes na igreja, como o
                            Presb. Dr. Jamil Josepetti, Presb. Dr. Divino Guimarães, Presb. Prof. Joel Ribeiro de
                            Camargo, Presbítero Loudomiro Carneiro, conhecido como Mirinho, e vários outros. Muitos
                            destes líderes leigos posteriormente foram consagrados a pastores na IPRB. Com uma forte
                            liderança leiga, muitos trabalhos foram abertos, muitas tendas foram montadas, muitos pontos
                            de pregação foram mantidos nas casas destes lideres, e assim, a igreja pode crescer sem
                            impedimentos, quando não era possível arcar com despesas para manter um ministro em tempo
                            integral. Estes três fatores, conjugados, fizeram dos vinte e seis anos que se seguiram a
                            fundação da igreja, os anos mais produtivos, uma verdadeira era de ouro da IPRB. Crescimento
                            igual ao observado neste período não se observou mais no período que se seguiu.</p>
                        <p align="justify">Veja fotos e biografias dos ex-presidentes da IPRB em <a
                                href="http://www.iprb.org.br/presidencia/presid_anteriores.htm">http://www.iprb.org.br/presidencia/presid_anteriores.htm</a>
                        </p>
                        <p align="justify"><b>A Igreja Assediada: o Movimento G12</b> Um período conturbado na igreja
                            foram os anos que se seguiram a 1998. Empolgados pela possibilidade de crescimento rápido da
                            igreja, muitos ministros adotaram, sem reflexões, o chamado Movimento G12. Várias igrejas
                            foram obrigadas a participar deste movimento, que garantia uma espécie de nova conversão aos
                            crentes, tendo como base experiências emocionais questionáveis. Em razão de muitos crentes
                            não aceitarem tal imposição, saíram da igreja rumo a outros ministérios, sendo na maioria
                            pessoas mais experientes, e entre estes muitos pioneiros da igreja. Este foi um período de
                            grande sangria na membresia de muitas igrejas.</p>
                        <p align="justify"><b>Uma Mudança Importante</b> Em janeiro de 2001, dois fatos mudaram
                            radicalmente os rumos da igreja: o primeiro foi a eleição da nova Diretoria Executiva na XIV
                            Assembléia Geral Ordinária. Os lideres escolhidos na ocasião, representavam a ala liberal da
                            igreja. Chegava-se definitivamente, portanto, ao fim de um ciclo muito produtivo da IPRB: o
                            período presbiteriano conservador. A ala conservadora teve como seus principais
                            representantes os seguintes pastores e presbíteros: Pr. Abel Amaral Camargo, Pr. Palmiro
                            Francisco de Andrade, Pr. Dr. Jamil Josepetti, Presb. Dr. Divino Guimarães, entre muitos
                            outros. Com a morte do penúltimo presidente da igreja, Pr. Dr. Jamil Josepetti, dias após as
                            eleições da Assembléia em janeiro de 2001, encerrou-se definitivamente este período de
                            muitas glórias e crescimento da igreja. A Diretoria Executiva, imediatamente após eleita,
                            num de seus mais importantes atos, nomeia uma comissão para preparar mudanças nos estatutos
                            e no regimento interno da igreja, cujo objetivo principal era limitar o poder dos conselhos
                            locais, constituindo este o segundo fato mais importante ocorrido naquele período. Em
                            dezembro de 2001, em Sumaré, Estado de São Paulo, na X Assembléia Extraordinária, convocada
                            exclusivamente para votar as alterações no Estatuto e no Regimento Interno, foram aprovadas
                            as alterações propostas, limitando o poder dos conselhos no que se refere a sucessão
                            pastoral. Dessa forma, os poderes de investidura e remoção dos pastores ficaram a cargo
                            exclusivo dos Presbitérios. Esse foi o passo que faltava para consolidar num só golpe a fase
                            liberal da igreja. A mudança aprovada, no entanto, revelou-se na prática muito mais
                            abrangente que o inicialmente previsto, em razão de ter contribuído para o esvaziamento das
                            atividades administrativas dos conselhos locais. Em muitas igrejas, o conselho deliberativo
                            tornou-se peça meramente figurativa, não exercendo quase nenhum controle administrativo da
                            comunidade, sendo estes poderes deslocados quase que exclusivamente para as mãos do
                            ministro.</p>
                        <p align="justify"><b>A IPRB nos dias Atuais</b> Os anos que se seguiram a 2001, trouxeram
                            muitas mudanças na igreja no que concerne às convicções teologicas dos líderes. Seguindo o
                            curso do segmento evangélico neo-pentecostal brasileiro, muitos ministros passaram a pregar
                            abertamente a teologia da prosperidade e outros, a pregar mensagens de auto-ajuda; em
                            conseqüência disso, algumas igrejas passaram a ser verdadeiras escolas de administração,
                            finanças pessoais e de desenvolvimento pessoal. Por outro lado, no campo da administração
                            eclesiástica, consolidou-se a tendência já verificada no início do século XXI, com a tomada
                            de poder pelos liberais: a de concentrar nas mãos do ministro toda a administração e poder
                            eclesiástico, ficando os demais oficiais como meros auxiliares do ministro. Nesta mesma
                            área, consolidou-se outra tendência: a de concentrar no ministro toda a responsabilidade
                            pelo desenvolvimento da comunidade local, mudando radicalmente o papel da igreja vigente até
                            então, passando esta a ser mera expectadora e cumpridora dos projetos eclesiásticos dos
                            ministros. Dessa maneira, a igreja entra no século XXI como uma denominação neo-pentecostal,
                            baseada em teologias e práticas surgidas neste meio, afastando-se ainda mais da teologia
                            reformada.</p>

                        <h2 align="center">Ligações externas</h2>
                        <br />
                        <ul>
                            <li><a rel="nofollow" class="external text" href="http://www.iprb.org.br">IPRB</a></li>
                            <li><a rel="nofollow" class="external text" href="http://www.editoraaleluia.com.br">Editora
                                    Aleluia</a></li>
                            <li><a rel="nofollow" class="external text"
                                    href="http://www.seminariopresbiteriano.com.br">Seminário Presbiteriano</a></li>
                        </ul>

                        <br />
                        <p align="center"><a
                                href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana_Renovada_do_Brasil">Fonte:
                                "pt.wikipedia.org/wiki/Igreja Presbiteriana Renovada do Brasil"</a></p>

                        <!-- ENDS page-content -->
        </div>
        <!-- ENDS content -->
    </div>
</div>
<!-- ENDS main-wrapper -->