<!-- wrapper -->
<div class="wrapper">
    <!-- home-content -->
    <div class="home-content">
        <!-- slideshow -->
        <div id="slideshow">
            <a href="#" id="prev"></a>
            <a href="#" id="next"></a>
            <!-- slides -->
            <ul id="slides">
                <li><a href="#1"><img src="images/pastor.jpg" alt="Imagen" /></a></li>
                <li><a href="#2"><img src="images/mocidade.jpg" alt="Imagen" /></a></li>
                <li><a href="#3"><img src="images/criancas.jpg" alt="Imagen" /></a></li>
                <li><a href="#1"><img src="images/jubilo.jpg" alt="Imagen" /></a></li>
                <li><a href="#1"><img src="images/teatro.jpg" alt="Imagen" /></a></li>
                <li><a href="#1"><img src="images/danca.jpg" alt="Imagen" /></a></li>
            </ul>
            <!-- ENDS slides -->
        </div>
        <!-- ENDS slideshow -->
        <!-- headline -->
        <div class="headline">
            <div id="headline">
                <img src="img/igreja 2.png" title="" alt="" />
            </div>
            <h1>
                Quem Somos
            </h1>

            <h6>
                <p>Somos o Corpo de Cristo, onde cada membro tem sua função especial para o bom funcionamento
                    desse Corpo. </p>Todos são importantes,
                todos são indispensáveis. Cada membro, quando encontra seu lugar no Corpo, procura atuar,no
                entando, para que o trabalho seja eficaz,
                o salvo precisará de motivação.
            </h6>
        </div>
        <!-- ENDS headline -->

        <div class="shadow-divider"></div>
        <!-- front-left-col -->
        <div class="front-left-col">
            <div class="bullet-title">
            </div>

            <!-- front-right-col-->
            <div class="front-right-col">
                <div class="bullet-title">
                    <div class="big">Histórias</div>
                </div>
                <ul class="blocks-holder">
                    <li class="block">
                        <div class="block-ribbon">
                            <div class="left">
                                <div class="block-title"><a href="historiaipr.html">IPR do Brasil</a></div>
                                <span class="leiamais"><a href="historiaipr.html">Leia Mais...</a></span>
                            </div>

                            <div class="right"></div>

                        </div>
                        <img src="img/dummies/home-block-3.jpg" alt="Thumb" class="thumb" title="Thumbnail" />
                    </li>

                    <li class="block">
                        <div class="block-ribbon">
                            <div class="left">
                                <div class="block-title"><a href="#">IPR de Itapira</a></div>
                                <span class="leiamais"><a href="#">Leia Mais...</a></span>
                            </div>

                            <div class="right"></div>

                        </div>
                        <img src="img/dummies/home-block-3.jpg" alt="Thumb" class="thumb" title="Thumbnail" />
                    </li>

                </ul>
            </div>
            <!-- ENDS front-left-col -->
        </div>
        <!-- ENDS home-content -->
        <div class="clear"></div>
    </div>
    <!-- ENDS twitter -->
</div>
<!-- ENDS main-wrapper -->