<!-- wrapper -->
<div class="wrapper">
	<!-- content -->
	<div class="content">

		<!-- title -->
		<div class="title-holder">
			<span class="title">História</span>
			<span class="subtitle">Igreja Presbiteriana Renovada de Itapira.</span>
		</div>
		<!-- ENDS title -->
		<div class="img1">
			<img src="img/Itapira.jpg" width="730" height="390" />
		</div>
		<!-- page-content -->
		<div class="page-content">
			<br />
			<p align="justify"><b>Histórico</b>: Eu pastor Odario da Silva Brandão Filho, venho de um berço evangélico,
				nasci e fui criado na <a href="http://pt.wikipedia.org/wiki/Igreja_Presbiteriana_do_Brasil">Igreja
					Presbiteriana do Brasil</a>, com 25 anos de idade fui despertado em buscar o batismo com o espírito
				Santo e os Dons do Espírito Santo, em uma vigília com crentes pentecostais fui batizado pelo Dons do
				Espírito Santo e depois passei pelas águas, com isso não pude mais permanecer na Igreja Presbiteriana do
				Brasil, com isso fui procurar um ministério pentecostal e encontrei a <a
					href="http://www.iprb.org.br">IPRB</a>.</p>

			<p align="justify">Sou membro da Igreja Presbiteriana Renovada desde 1993, quando fui recebido como Diácono
				, e depois de 3 anos fui eleito e consagrado a presbítero. Eu viajei por 12 anos, 90 Km, nos finais de
				semana para congregar na cidade de (Borda da Mata – MG) por não haver este ministério em minha cidade.
			</p>

			<p align="justify">Em meados de 2004 o pastor Ailton da Silva Souza me pediu para orar pois o conselho da
				IPR de Poços de Caldas estava com um projeto para iniciar o trabalho em Itapira no ano de 2005, onde eu
				estaria à frente. No mês de março do mesmo ano iniciamos o trabalho em Itapira em minha garagem com 7
				membros, Sendo: Odario, Vicentina, Thiers, Kariz, Karen, Kamila, Karol, e nesta garagem nosso púlpito
				era uma simples Sapareira e nosso microfone de R$ 1,99 com um aparelho de som marca Sharp, depois disso
				Deus nos preparou um salão pequeno e realizamos nosso 1º Batismo e com a graça de Deus novos membros
				foram aderindo a causa Renovada e chegamos onde estamos hoje para honra e glória de Jesus. </p>

			<h2 align="center">RETROSPECTIVA</h2>
			<br />
			<p align="justify"><b>2005</b>: Com a Graça de Deus, nosso trabalho foi iniciado em 20/04/2005, e neste ano
				terminamos com um total de 15 membros.</p>
			<p align="justify"><b>2006</b>: Mais um ano de Bênçãos e vitórias, tivemos um crescimento de 47% e
				terminamos o ano com 22 membros.</p>
			<p align="justify"><b>2007</b>: Deus confirma o meu chamado, sou Recebido pelo PRESCON ao Ministério
				Pastoral, e neste ano tivemos um crescimento de 40% finalizando com 30 membros.</p>
			<p align="justify"><b>2008</b>: Ano do <b>3º aniversário</b> desta obra e de minha Consagração ao Ministério
				Pastoral, onde como pastor auxiliar estou sendo supervisionado pelo Pastor Ailton. Neste mesmo ano de
				2008 nós traçamos o objetivo de alcançarmos 50 membros com um crescimento de 67%, e pela graça e
				misericórdia de Deus finalizamos este ano com 51 membros, Aleluia!!!, Glórias sejam dadas a Deus e a
				Jesus Cristo nosso Senhor.</p>
			<p align="justify"><b>2009</b>: Ano do <b>4° Aniversario do Ministério Presbiteriano Renovado</b> na cidade
				de <a href="http://pt.wikipedia.org/wiki/Itapira">Itapira</a>, e o 2° ano como pastor auxiliar,
				iniciamdo o ano com 51 membros e pela graça e misericórdia de Deus finalizamos o ano com 66 membros,
				toda honra e glória seja dada ao nosso Deus e a Jesus Cristo nosso Senhor, com muita alegria damos
				graças ao Senhor, pois Ele nos deu a oportunidade de mudarmos de endereço, para um salão mais amplo e
				espaçoso.</b>
				<p align="justify"><b>2010</b> e <b>2011</b>: Anos da minha confirmação para o chamado pastoral sendo
					realizado a minha Ordenação e também a Formação do <a
						href="http://www.iprb.org.br/historia/presbiterios/sul_de_minas/PRESUL_historia_01.htm">Presbitério
						Sul de Minas</a> – Presul onde fui eleito 1° secretário.</b>
					<p align="justify"><b>2012</b>: O <b>7° aniversário</b>, com 72 membros neste ano o trabalho esta
						consolidado com membros que abraçaram a causa Renovada onde sentimos a necessidade da nossa
						emancipação, sendo aprovado pelo Conselho e Presbitério, do inicio no ano de 2005 com 15 membros
						a 2012 - 72 membros tivemos um crescimento de 500 %.</b>
						<p align="justify"><b>2013</b>: Ano da nossa Emancipação no dia 21/04 realizamos o <b>8º
								aniversário</b> da IPR em Itapira e juntamente com a festa e com a presença de toda a
							diretoria do <a
								href="http://www.iprb.org.br/historia/presbiterios/sul_de_minas/PRESUL_historia_01.htm">Presbitério
								Sul de Minas PRESUL</a>, foi realizada a organização da igreja e formado o primeiro
							conselho sendo composto por: presidente Pastor Odario, Vice presidente presbitero José
							Ricardo, secretario Presbitero Samuel, Tesoureiro Presbitero Cassiano, e presbitero José
							Renato e também a primeira Junta Diaconal com os Diáconos Celso e Samuel Evaristo, e as
							diaconisas : Vera, Marta, Maria Helena e Rute e assim continuamos a seguir sempre em frente
							combatendo o bom combate em busca das almas que estão em trevas levando a luz do evangelho
							anunciando as boas novas de salvação declarando que só Jesus é o Senhor e Salvador de nossas
							vidas.

							<h6 align="center">Atenciosamente</h6>
							<br />
							<h6 align="center">Pastor Odario da Silva Brandão Filho</h6>
							<br />
							<h6 align="center">Pastor presidente da IPR Itapira</h6>
							<br />

							<!-- ENDS page-content -->
		</div>
		<!-- ENDS content -->
	</div>
</div>
<!-- ENDS main-wrapper -->