<!-- wrapper -->
<div class="wrapper">
	<!-- content -->
	<div class="content">

		<!-- title -->
		<div class="title-holder">
			<span class="title">História</span>
			<span class="subtitle">Ministerio de Evangelismo "JCM"</span>
		</div>
		<!-- ENDS title -->

		<!-- page-content -->
		<div class="page-content">
			<br />
			<p align="justify">O ministerio jovens Cumprindo sua missão nasceu no coração do irmão <b>Gabriel
					Espíndola</b>, presidente do mesmo, estando em um acampamento em 12 de outubro de 2010, Deus colocou
				em seu coração a necessidade de um ministerio envolvendo jovens para a propagação do evangelho. Desde
				então, foram feitas mais de trinta e duas viagens pelo Brasil, com mais de vinte mil vidas que ouviram
				do evangelho e mil e trezentas tomando a decisão pessoal ao lado de Cristo. O JCM é um mministerio
				interdenominacional, trabalhamos com evangelismo pessoal, evangelismo infantil, teatro, pirofagia, ação
				social, fortalecimento de igreja, implantação de igreja, treinamento de evangelismo. Deus nos mostra, a
				cada instante a veracidade de poucos ceifeiros para uma grande seara, apenas precisamos nos colocar a
				disposição.</p>

			<p align="justify"><b>Missão</b>: Cumprir o ide de Jesus e fazei discípulos. <b>Marcos 16:15</b>.</p>

			<p align="justify"><b>Visão</b>: A necessidade de vivermos em unidade, cada um cooperando com seu dom para
				cumprir o ide de Jesus; a necessidade de despertar na igreja um desejo incontido de fazer missões; a
				necessidade de cristãos desejosos de evangelizar e ensinar o corpo de Cristo a multiplicar a sua
				transformação (mudança causada pela salvação) sendo instrumento na mão do Pai. <b>Mateus 28.18-20</b>.
			</p>

			<p align="justify"><b>Valores</b>: Amor, Salvação e Liberdade, a luz da palavra o conhecimento de Jesus
				através do Evangelismo. Todos necessitam do amor de Deus, toda criatura necessita ser evangelizada.
				Portanto anunciar o evangelho para todos, sem acepção de pessoas. <b>João 3.16</b>.</p>
			<p align="justify">Você pode ser um parceiro JCM, em <b>Felipenses 4.14 e 15</b> Paulo diz: "fiseste bem,
				associando-vos na minha tribulação. E sabeis também vós, ó felipenses, que, no inicio do evangelho,
				quando parti da Macedonia, nenhuma igreja se associou comigo no tocante e dar e receber, senão
				unicamente vós outros". A palavra que Paulo está usando aqui para "associar-se" é uma palavra comercial,
				usada quando pessoas decidem formar uma parceria ou uma sociedade. Assim, como eles se tornaram
				parceiros em um projeto missionario, nós seremos um dos parceiros; do JCM seus missionarios e projetos.
				Parceria é, portanto uma associação mutuante abençoadora tanto para quem sustenta quanto para quem é
				sustentado. Tornando-se um parceiro JCM você: <b1. Permite que novos projetos sociais, plantação de
					igrejas e projetos de evangelização sejam desenvolvidos; 2. Participa diretamente da obra
					missionaria; 3. Obedece a Palavra de Deus; 4. fortalece os laços com obreiros no campo; 5. Investe
					os bens que Deus lhe dá na busca de frutos eternos 6. Permite que os obreiros tenham melhores
					condições para seu ministerio; 7. Possibilita mais viagens missionarias; 8. Participa do avanço da
					obra missionaria no Brasil e no Mundo; 9. E mais, recebe noticias do JCM e informações sobre o
					campo.</p> <p align="justify">Entre em contato conosco pelo facebook abaixo ou e-mail, Deus abençoe.
			</p>

			<p align="center"><b><a href="https://www.facebook.com/jcm.evangelismo">Facebook JCM</a></b></p>

			<p align="center"><b>brandaonaara@gmail.com</b></p>

			<div id="video"><object width="560" height="315">
					<param name="movie" value="//www.youtube.com/v/SGw1-BIcGF0?hl=pt_BR&amp;version=3&amp;rel=0">
					</param>
					<param name="allowFullScreen" value="true">
					</param>
					<param name="allowscriptaccess" value="always">
					</param><embed src="//www.youtube.com/v/SGw1-BIcGF0?hl=pt_BR&amp;version=3&amp;rel=0"
						type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always"
						allowfullscreen="true"></embed></object><br /><br /><br />

				<object width="560" height="315">
					<param name="movie" value="//www.youtube.com/v/J4BgyN5r3TI?hl=pt_BR&amp;version=3&amp;rel=0">
					</param>
					<param name="allowFullScreen" value="true">
					</param>
					<param name="allowscriptaccess" value="always">
					</param><embed src="//www.youtube.com/v/J4BgyN5r3TI?hl=pt_BR&amp;version=3&amp;rel=0"
						type="application/x-shockwave-flash" width="560" height="315" allowscriptaccess="always"
						allowfullscreen="true"></embed></object><br />
			</div>

			<br />
			<!-- ENDS page-content -->
		</div>
		<!-- ENDS content -->
	</div>
</div>
<!-- ENDS main-wrapper -->