<!-- wrapper -->
<div class="wrapper">
	<!-- content -->
	<div class="content">

		<!-- title -->
		<div class="title-holder">
			<span class="title">História</span>
			<span class="subtitle">Júbilo</span>
		</div>
		<!-- ENDS title -->

		<!-- page-content -->
		<div class="page-content">
			<br />
			<p align="justify">Em <b>Julho</b> de </b>2005</b>, inicia-se o <b>"Circulo de Oração"</b>. O mesmo recebeu
				o nome de Júbilo e alguns meses depois, inicia-se o grupo <b>"Vozes de Júbilo"</b>, por vários meses as
				reuniões de Oração aconteciam em sextas-feiras às 7h00 da manhã, criado então esses minitérios que aos
				poucos foi crescendo. Contavamos com hinários, não tinhamos aparelho de CD e o microfone era apenas um e
				era do 1,99. </p>

			<p align="justify">Iniciamos as atividades na antiga "Igrejinha" como acostumávamos chamar, realmente muito
				pequeno aquele imóvel que Deus preparou.</p>

			<p align="justify">Depois de 1 ano e meio, já aumentavamos o número de membros, alugamos na mesma rua
				Dorothéia de Freitas nesta cidade, um espaço bem maior e já contavamos com várias irmãs, e no primeiro
				ano preparamos uma Cantata de Natal, muito abençoada por Deus, mesmo sem recursos de hoje, a cada
				aniversário mais irmãs foram ingressando ao grupo.</p>

			<p align="justify">Iniciamos com dois grupos de visitas nos lares dos enfermos, mas logo o espaço ficou
				pequeno demais e alugamos outro imóvel, maior e bem localizado, o trabalho foi ficando cada vez mais
				interessante, viamos muita dedicação das irmãs, a cada ano sintiamos mais unidas, estamos hoje com mais
				de 25 irmãs e esperamos em Deus que cresça mais e mais em número e também espiritualmente, Deus tem
				capacitado muitas irmãs.</p>
			<p align="justify">A luta continua, sempre vamos ter empecilhos, mas venceremos todos com a ajuda de nosso
				Deus o todo Poderoso.</p>
			<p align="justify">NOssa 1º dirigente do Circulo de Oração foi nosssa querida irmã Diaconisa: Vicentina
				Brandão Porto.</p>
			<p align="center">Que Deus nos abençõe!</p>

			<!-- ENDS page-content -->
		</div>
		<!-- ENDS content -->
	</div>
</div>
<!-- ENDS main-wrapper -->