<!-- wrapper -->
<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">História</span>
      <span class="subtitle">Grupo de Jovens</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <br />
      <p align="justify">
        Desde o ínicio da <b>Igreja Presbiteriana Renovada de Itapira</b>,
        sempre tivemos jovens dispostos a trabalhar para o Senhor Jesus, sem
        pensar em recompensas terrestres, pois, a palavra do Senhor nos diz que
        o nosso galardão não vem de homem e sim de Deus.
      </p>

      <p align="justify">
        A igreja era bem simples viamos as mãos do Poderoso Deus em todos os
        detalhes. O grupo de jovens no decorrer do caminho foi mudando e sendo
        moldado pelo oleiro.
      </p>

      <p align="justify">
        Muitos dos Jovens que estiveram nos primeiros anos do grupo hoje são
        casados, presbiteros na obra do Senhor, outros estão estudando fora, mas
        , ainda assim estão na obra do Senhor.
      </p>

      <p align="justify">
        O grupo hoje é composto por 30 jovens que estão trabalhando na obra e
        preparando-se para o ide.
      </p>
      <p align="justify">
        Continuem orando pelos jovens para que estejam sempre na posição de
        vasos a serem moldados pelo oleiro no momento que Ele quiser.
      </p>

      <h6 align="center">Que Deus possa nos abençoar sempre.</h6>
      <br />

      <!-- ENDS page-content -->
    </div>
    <!-- ENDS content -->
  </div>
</div>
<!-- ENDS main-wrapper -->
