<!-- wrapper -->
<div class="wrapper">
    <!-- content -->
    <div class="content">

        <!-- title -->
        <div class="title-holder">
            <span class="title">História</span>
            <span class="subtitle">Presbiteros</span>
        </div>
        <!-- ENDS title -->

        <!-- page-content -->
        <div class="page-content">
            <br />
            <p>
                <h2 align="center">Art. 51. Presbiteros</h2>
            </p>
            <br />

            <p align="justify"><b>Presbítero</b> é o oficial, membro da Igreja Local, do sexo masculino, maior de 21
                (vinte e um) anos, em gozo de seus direitos civis, eleito pela Assembléia para compor o Conselho da
                Igreja Local e consagrado em cerimônia presidida pelo pastor.</p><br />

            <h2 align="center">Art. 52. São requisitos exigidos do presbítero, especialmente os seguintes:</h2>
            <br />
            <p align="justify"><b>São requisitos exigidos do presbítero, especialmente os seguintes:</b></p>
            <p align="justify"><b>I</b> - Ser cheio do Espírito Santo;</b></p>
            <p align="justify"><b>II</b> - Ter as características espirituais descritas em 1º Timóteo 3: 2-7 e Tito 1:
                5-9;</b></p>
            <p align="justify"><b>III</b> - Aceitar e cumprir plenamente as Normas da IPRB;</b></p>
            <p align="justify"><b>IV </b> - Ser membro da IPRB há pelo menos 3 (três) anos ininterruptos;</b></p>
            <p align="justify"><b>V</b> - Ser dizimista;</b></p>
            <p align="justify"><b>VI</b> - Ser aluno assíduo da Escola Bíblica Dominical, salvo por motivo justo;</b>
            </p>
            <p align="justify"><b>VII</b> - Ser alfabetizado.</b></p>

            <h2 align="center">Art. 53. São atribuições do presbítero:</h2>
            <br />
            <p align="justify"><b>I</b> - Auxiliar o pastor no ensino, no governo, na visitação e na pregação;</p>
            <p align="justify"><b>II</b> - Participar da consagração de oficiais e ordenação de pastores;</p>
            <p align="justify"><b>III</b> - Representar a Igreja Local nos Concílios superiores, quando escolhido pelo
                Conselho;</p>
            <p align="justify"><b>IV</b> - Comunicar ao Conselho as faltas dos membros que não puder corrigir por meio
                de admoestação particular;</p>
            <p align="justify"><b>V</b> - Celebrar casamento religioso, celebrar a ceia, realizar batismos e impetrar a
                bênção apostólica mediante autorização pastoral;</p><br />

            <h2 align="center">Art. 54. O ofício de presbítero é permanente; a função é temporária.</h2>
            <br />
            <p align="justify"><b>§ 1º.</b> - O mandato do presbítero limita-se ao período de 2 (dois) anos, a partir
                da investidura e posse, podendo ser renovado.</p>
            <p align="justify"><b>§ 2º.</b> - Em caso de transferência para outra Igreja Local, cessa o mandato.</p>
            <p align="justify"><b>§ 3º.</b> - Em caso de renúncia, fica o presbítero impedido de concorrer às eleições
                do mandato seguinte.</p>
            <p align="justify"><b>§ 4º.</b> - Findo o mandato e não sendo reeleito, fica o presbítero em
                disponibilidade ativa, mesmo que transferido para outra Igreja Local, devendo exercer as atividades que
                lhe forem designadas pelo Conselho, não podendo pertencer ao mesmo, nem representar a Igreja nos
                Presbitérios ou Concílios superiores.</p><br />

            <h2 align="center">Art. 55. O presbítero pode concorrer a cargos eletivos nos Concílios superiores, nas
                seguintes hipóteses:</h2>
            <br />
            <p align="justify"><b>I</b> - quando houver sido escolhido para representar a Igreja Local na Assembléia
                Geral ou no Presbitério;</p>
            <p align="justify"><b>II</b> - quando já ocupar cargo na Diretoria Executiva da IPRB ou na Diretoria
                Presbiterial. <br />Parágrafo único. Em qualquer das hipóteses anteriores, é exigido que o presbítero
                esteja no exercício do seu mandato.</p><br />

            <h2 align="center">Art. 56. É dever do presbítero justificar, validamente, a critério do Conselho, sua
                ausência às reuniões deste.

            </h2>
            <br />
            <p align="justify"><b>§ 1º.</b> - No caso de não comparecimento a 3 (três) reuniões consecutivas, sem
                justificativa válida, ficará automaticamente suspenso de suas funções por 6 (seis) meses.</p>
            <p align="justify"><b>§ 2º.</b> - O presbítero tem direito de licenciar-se, devidamente justificado,
                porumperíodo não superior à metade de seu mandato.</p><br />

            <h2 align="center">Art. 57. As funções administrativas do presbítero cessam por:</h2>
            <br />
            <p align="justify"><b>I</b> - exclusão;</p>
            <p align="justify"><b>II</b> - renúncia;</p>
            <p align="justify"><b>III</b> - deposição;</p>
            <p align="justify"><b>IV</b> - término de mandato;</p>
            <p align="justify"><b>V</b> - abandono;</b><br />
                <p align="justify"><b>VI</b> - incapacidade permanente;</p>
                <p align="justify"><b>V</b> - abandono;</p>
                <p align="justify"><b>VII</b> - mudança;</p>
                <p align="justify"><b>VIII</b> - falecimento.</p><br />

                <p align="center"><b>Fonte: Normas da IPRB</b></p>


                <!-- ENDS page-content -->
        </div>
        <!-- ENDS content -->

    </div>
</div>
<!-- ENDS main-wrapper -->