<!-- wrapper -->
<div class="wrapper">
  <!-- content -->
  <div class="content">
    <!-- title -->
    <div class="title-holder">
      <span class="title">História</span>
      <span class="subtitle">Grupo de Varões Betel</span>
    </div>
    <!-- ENDS title -->

    <!-- page-content -->
    <div class="page-content">
      <br />
      <p align="justify">
        Nossa história começou no dia <b>03 de junho de 2013</b>, realizada na
        <b>IPR Itapira</b>, onde nosso objetivo foi definir o nome do grupo e
        eleger nossa diretoria. Com as bênçãos do Espirito Santo no grupo
        recebeu o nome de: <b>Grupo de Varões "Betel"</b>, tendo assim nossa
        história iniciada nesta abençoada igreja.
      </p>

      <p align="justify">
        No mesmo dia foi eleita nossa 1º primeira diretora tendo a frente:
      </p>

      <p align="justify"><b>- Presidente: Presbítero José Ricardo;</b></p>
      <p align="justify">
        <b>- Primeiro tesoureiro - Presbítero José Renato;</b>
      </p>
      <p align="justify"><b>- Segundo Tesoureiro - Estevão;</b></p>
      <p align="justify"><b>- Primeiro Secretário - Obreiro Jhonny;</b></p>
      <p align="justify"><b>- Segundo Secretário - Henrique;</b></p>
      <p align="justify"><b>- Primeiro Regente - Heverton;</b></p>
      <p align="justify"><b>- Segundo Regente - José Renato;</b></p>
      <p align="justify"><b>- Conselheiro - Pastor Odário.</b></p>
      <p align="justify">
        Em nossa primeira reunião os textos lidos para abrir nossa primeira
        reunião foram: Filipenses 2. 1-5 e Gênesis 28. 17.
      </p>
      <p align="justify">
        Nosso objetivo é levar a palavra do Senhor aos corações aflitos e
        desamparados, onde o caminho para o pai é apertado, mas nunca seremos
        desamparados pelo Espirito Santo, se tivermos cansados da caminha nosso
        Pai Celeste nos pegará no colo e caminhará conosco a cada dia.
      </p>
      <p align="justify">
        Que os irmãos possam estar orando por este grupo para que possamos levar
        a palavra de Deus para os quatros cantos desta cidade.
      </p>

      <h6 align="center">Que Deus vos abençõe.</h6>
      <br />

      <!-- ENDS page-content -->
    </div>
    <!-- ENDS content -->
  </div>
</div>
<!-- ENDS main-wrapper -->